<div class="wrapper">
    <div class="corporate">
        <div class="name"><a href="/"><img src="blue-logo.svg" alt=""></a></div>
        <div class="text-big">ASK US ANYTHING</div>
        <div class="text-medium">CORPORATE SUPPORT CHANNEL</div>
    </div>
</div>
<div class="footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>
