{% extends "bootstrap_3_layout.html.twig" %}

{% block form_errors -%}
    {% if form.parent %}<span class="help-block with-errors">{% else %}<div class="alert alert-danger">{% endif %}
    {% if errors|length > 0 -%}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif %}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
{%- endblock form_errors %}

{% block appliance_widget %}
    {{ form_row(form.appliance) }}
    {{ form_row(form.appliance_other) }}

    {{ form_row(form.brand) }}
    {{ form_row(form.brand_other) }}

    {{ form_row(form.model, {attr: {class: 'to-uppercase'} }) }}
    {{ form_row(form.serial_number, {attr: {class: 'to-uppercase'} }) }}

    {{ form_row(form.refrigerator_ice_maker) }}
    {{ form_row(form.refrigerator_ice_dispenser) }}
    {{ form_row(form.refrigerator_location) }}
    {{ form_row(form.refrigerator_location_other) }}
    {{ form_row(form.refrigerator_type) }}
    {{ form_row(form.dryer_location) }}
    {{ form_row(form.dryer_location_other) }}
    {{ form_row(form.dryer_fuel) }}
    {{ form_row(form.dryer_type) }}
    {{ form_row(form.dryer_type_other) }}
    {{ form_row(form.washer_location) }}
    {{ form_row(form.washer_location_other) }}
    {{ form_row(form.washer_load_type) }}
    {{ form_row(form.washer_type) }}
    {{ form_row(form.dishwasher_control_location) }}
    {{ form_row(form.oven_type) }}
    {{ form_row(form.oven_convection) }}
    {{ form_row(form.microwave_type) }}
    {{ form_row(form.range_type) }}
    {{ form_row(form.burner_type) }}
    {{ form_row(form.range_convection) }}
    {{ form_row(form.range_self_clean) }}

    {{ form_row(form.customer_complaint) }}
    {{ form_row(form.tech_recommendation) }}

    <div class="row">
        <div class="col-xs-6">{{ form_row(form.age) }}</div>
        <div class="col-xs-6">
            {{ form_row(form.color) }}
            {{ form_row(form.color_other) }}
        </div>
    </div>
    {{ form_row(form.condition) }}

    {{ form_row(form.size) }}
    {{ form_row(form.size_other) }}

    {{ form_row(form.fuel) }}
    {{ form_row(form.burners) }}
    {{ form_row(form.cycles) }}
    {{ form_row(form.options) }}

    <div class="form-group">
        <a href="#" class="btn btn-warning remove-appliance">
            <span class="glyphicon glyphicon-remove"></span> Remove the appliance
        </a>
    </div>
    <hr />
{% endblock %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'radio-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% else -%}
        <div class="radio-inline">
            {{- form_label(form, null, { widget: block('custom_radio') }) -}}
        </div>
    {%- endif %}
{%- endblock radio_widget %}

{% block custom_radio %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}