<div class="wrapper">
    <div class="close"><a href="/">&times;</a></div>
    <div class="page-header">Get ready for a <span>fast</span> response</div>
    
    <div class="columns">
        <div class="contact-block">
            <div class="contact-bg">
                <img src="img/contact/1.png" alt="" id="bg-1" />
                <img src="img/contact/2.png" alt="" id="bg-2" />
                <img src="img/contact/3.png" alt="" id="bg-3" />
                <img src="img/contact/4.png" alt="" id="bg-4" />
                <img src="img/contact/1l.png" alt="" id="bg-1l" />
                <img src="img/contact/2l.png" alt="" id="bg-2l" />
                <img src="img/contact/3l.png" alt="" id="bg-3l" />
                <img src="img/contact/4l.png" alt="" id="bg-4l" />
            </div>

            <form name="contactForm" ng-submit="contactForm.$invalid ? angular.noop() : $root.contact.submit('contact')" novalidate>
                <div class="form-row">
                    <input type="text" name="name" ng-model="$root.contact.name" placeholder="Your Name" required/>
                    <span class="form-error" ng-show="(contactFormSubmitted || contactForm.name.$touched) && contactForm.name.$invalid">The name is required.</span>
                </div>
                <div class="form-row">
                    <input type="email" name="email" ng-model="$root.contact.email" placeholder="Email" required/>
                    <span class="form-error" ng-show="(contactFormSubmitted || contactForm.email.$touched) && contactForm.email.$invalid && contactForm.email.$error.required">Email is required.</span>
                    <span class="form-error" ng-show="(contactFormSubmitted || contactForm.email.$touched) && contactForm.email.$invalid && contactForm.email.$error.email">Email is invalid.</span>
                </div>
                <div class="form-row">
                    <input type="text" name="phone"
                           ng-model="$root.contact.phone"
                           placeholder="Phone"
                           ui-mask="(999) 999-9999"
                           ui-mask-placeholder=""
                           ui-mask-placeholder-char="_"
                    />
                </div>
                <div class="form-row">
                    <select name="subject" ng-model="$root.contact.subject">
                        <option value="">Subject</option>
                        <option value="Check work order status">Check work order status</option>
                        <option value="Modify appointment date">Modify appointment date</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-row">
                    <textarea name="message" ng-model="$root.contact.message" placeholder="Comment" rows="8"></textarea>
                </div>
                <div class="form-row">
                    <button type="submit" class="button" ladda="sending" ng-click="contactFormSubmitted = true">Send</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>
