<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your A to Z Appliances invoice</title>
</head>
<body>
<p>Dear {{ invoice.first_name }},<br />
Here's a copy of your invoice.<br />
    Please, check the attached files.</p>

<p>Best regards,</p>

<p>Got questions? Get replies fast!<br />
    Go to <a href="http://a-zappliances.com" target="_blank">a-zappliances.com</a> and start a chat with our reps.</p>
</body>
</html>