{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="box box-info">
    <!-- form start -->
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', novalidate: true } }) }}
    <div class="box-body">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div class="box-footer">
            <button type="submit" name="submit" class="btn btn-primary pull-right">{{ 'profile.edit.submit'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
