{% extends "@App/Admin/layout.html.twig" %}

{% block page_header %}<i class="fa fa-cogs"></i> Settings{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if app.user.technician %}
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
            {% else %}
            Sorry, this page currently restricted from non-technicians.
            {% endif %}
        </div>
    </div>
{% endblock content %}
