<div class="wrapper">
    <div class="close"><a href="/">&times;</a></div>
    <div class="page-header">Let’s get things <span>fixed</span> for you</div>
    <div class="page-sub-header">Submit the form or call <a href="tel:800-567-8602">800-567-8602</a></div>
    
    <div class="columns">
        <div class="column">
            <form name="bookForm" ng-submit="bookForm.$invalid ? angular.noop() : $root.contact.submit('book')" novalidate>
                <div class="column-inner">
                    <div class="form-row">
                        <input type="text" name="name" ng-model="$root.contact.name" placeholder="Your Name" required/>
                        <span class="form-error" ng-show="(bookFormSubmitted || bookForm.name.$touched) && bookForm.name.$invalid">The name is required.</span>
                    </div>
                    <div class="form-row">
                        <input type="email" name="email" ng-model="$root.contact.email" placeholder="Email" required/>
                        <span class="form-error" ng-show="(bookFormSubmitted || bookForm.email.$touched) && bookForm.email.$invalid && bookForm.email.$error.required">Email is required.</span>
                        <span class="form-error" ng-show="(bookFormSubmitted || bookForm.email.$touched) && bookForm.email.$invalid && bookForm.email.$error.email">Email is invalid.</span>
                    </div>
                    <div class="form-row">
                        <input
                                type="text"
                                name="phone"
                                ng-model="$root.contact.phone"
                                placeholder="Phone"
                                ui-mask="(999) 999-9999"
                                ui-mask-placeholder=""
                                ui-mask-placeholder-char="_"/>
                    </div>
                    <div class="form-row">
                        <textarea name="message" ng-model="$root.contact.message" placeholder="Describe the problem" rows="8"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="button" ladda="sending" ng-click="bookFormSubmitted = true">Send</button>
                </div>
            </form>
        </div>
        <div class="column">
            <div class="column-inner">
                <div class="reviews">
                    <div class="review review-odd">
                        <div class="review-description">
                            They fixed my fridge in less than 4 hours.
                            What a great job, thank you guys.
                        </div>
                        <img src="img/review1.png" alt="" class="review-img">
                        <div class="review-author">Steve Ross, CA</div>
                    </div>
                    <div class="review review-even">
                        <div class="review-description">
                            Brought our dryer back to life the same.
                            Totally professional & really fast.
                        </div>
                        <img src="img/review2.png" alt="" class="review-img">
                        <div style="clear: both"></div>
                        <div class="review-author">Mary Roy, WA</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div class="footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>
