{% extends '@App/Admin/layout.html.twig' %}

{% block page_header %}Invoices{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped no-margin">
                            <tbody>
                            {% if invoices is empty %}
                                <tr>
                                    <td>No invoices yet.</td>
                                </tr>
                            {% endif %}
                            {% for invoice in invoices %}
                                <tr>
                                    <td>
                                        <a href="{{ asset(path('invoice_view_pdf', {'slug': invoice.slug})) }}" target="_blank">{{ invoice.name }}</a>
                                    </td>
                                    <td>
                                        {{ invoice.modified|date('m/d/Y') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

{% endblock %}