{% extends '@App/Admin/layout.html.twig' %}

{% block page_header %}<i class="fa fa-dashboard"></i> Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped no-margin">
                            <tbody>
                            {% if orders is empty %}
                                <tr>
                                    <td>No orders yet.</td>
                                </tr>
                            {% endif %}
                            {% for order in orders %}
                                <tr {% if order.type == 'Payment' %}class="bg-gray"{% endif %}>
                                    <td>{{ order.createdAt|date('j M') }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>${{ order.value|number_format(2, '.', ' ') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="small-box bg-blue">
                <div class="inner">
                    <p>Payment due:</p>
                    <h3>${{ sum|number_format(2, '.', ' ') }}</h3>
                </div>
                <div class="icon">
                    <i class="fa fa-usd"></i>
                </div>
            </div>
        </div>
    </div>

{% endblock %}