<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}{% endblock %}" >
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
