{% extends '@App/Admin/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_header %}
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-user"></i> Edit {{ technician.firstname }} {{ technician.lastname }}
        </div>
        <div class="col-md-2">
            <small><i class="fa fa-clock-o"></i> <span class="hidden-xs">Added</span> {{ technician.createdAt|date('j M, Y') }}</small>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                {{ form_start(form, {attr: {novalidate: true}}) }}
                <div class="box-body">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <button type="submit" name="submit" class="btn btn-warning" value="disable">Deactivate</button>
                        <button type="submit" name="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}