{% extends '@App/Admin/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_header %}Edit order{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- form start -->
                {{ form_start(form, {attr: {novalidate: true}}) }}
                <div class="box-body">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <button type="submit" name="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}