{% extends '@App/Admin/layout.html.twig' %}

{% block page_header %}<i class="fa fa-users"></i> Technicians{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped no-margin">
                            <tbody>
                            {% if technicians is empty %}
                                <tr>
                                    <td>No technicians yet.</td>
                                </tr>
                            {% endif %}
                            {% for technician in technicians %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_technician_order_list', {id: technician.id}) }}" {% if not technician.enabled %}class="text-yellow" {% endif %}>
                                            <i class="fa fa-user{% if not technician.enabled %}-times{% endif %}"></i> {{ technician.firstname }} {{ technician.lastname }}</a>

                                    </td>
                                    <td><a href="{{ path('admin_technician_edit', { id: technician.id }) }}" class="btn {% if technician.enabled %}btn-primary{% else %}btn-warning{% endif %} btn-sm pull-right">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

{% endblock %}