{% extends '@App/Admin/layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_header %}<i class="fa fa-list-alt"></i> {{ technician.firstname }} {{ technician.lastname }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <!-- form start -->
                {{ form_start(form, {attr: {novalidate: true}}) }}
                <div class="box-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-sm-2">{{ form_row(form.createdAt) }}</div>
                        <div class="col-sm-3">{{ form_row(form.type) }}</div>
                        <div class="col-sm-5">{{ form_row(form.description) }}</div>
                        <div class="col-sm-2">{{ form_row(form.value) }}</div>
                    </div>


                    {{ form_rest(form) }}
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Create</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tbody>
                            {% if orders is empty %}
                                <tr>
                                    <td>No orders yet.</td>
                                </tr>
                            {% endif %}
                            {% for order in orders %}
                                <tr {% if order.type == 'Payment' %}class="bg-gray"{% endif %}>
                                    <td>{{ order.createdAt|date('j M') }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>${{ order.value|number_format(2, '.', ' ') }}</td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <a href="{{ path('admin_order_edit', { id: order.id }) }}" class="btn btn-primary btn-sm">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <a href="{{ path('admin_order_delete', { id: order.id }) }}" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i> Delete
                                            </a>
                                        </div>


                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="small-box bg-blue">
                <div class="inner">
                    <p>Payment due:</p>
                    <h3>${{ sum|number_format(2, '.', ' ') }}</h3>
                </div>
                <div class="icon">
                    <i class="fa fa-usd"></i>
                </div>
            </div>
        </div>
    </div>

{% endblock %}