<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/bootstrap/css/bootstrap.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/plugins/select2/select2.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/AdminLTE-without-plugins.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/plugins/iCheck/square/blue.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="register-box">
    <div class="register-logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('blue-logo.svg') }}" alt="A to Z Appliances" style="width: 100%"></a>
    </div>
    <!-- /.login-logo -->
    <div class="register-box-body">
        {#<div class="login-box-msg"></div>#}
        {% include "@FOSUser/Registration/register_content.html.twig" %}

        {#<a href="#">I forgot my password</a><br>#}
        <br />
        <a href="{{ path('fos_user_security_login') }}" class="text-center"><i class="fa fa-sign-in"></i> Log in</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="{{ asset('bower_components/admin-lte/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('bower_components/admin-lte/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('bower_components/admin-lte/plugins/iCheck/icheck.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ asset('bower_components/admin-lte/plugins/select2/select2.full.min.js') }}"></script>

<!-- InputMask -->
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        $("[data-mask]").inputmask();
        $("[data-phone-mask]").inputmask('(999) 999-9999', {
            showMaskOnHover: false
        });

        $('select#fos_user_registration_form_specialize').on('change', function(e) {
            $('select#fos_user_registration_form_specialize :selected').each(function(i, selected){
                $('select#fos_user_registration_form_dont_work option[value=\''+$(selected).val()+'\'').prop('disabled', true).hide()
            });
            $('select#fos_user_registration_form_specialize :not(:selected)').each(function(i, not_selected){
                $('select#fos_user_registration_form_dont_work option[value=\''+$(not_selected).val()+'\'').prop('disabled', false).show()
            });
            $('select#fos_user_registration_form_dont_work').select2('destroy').select2();
        });
    });
</script>
<style>
    .control-label.required:after {
        content:"*";
        color:red;
        margin-left: 2px;
    }
</style>
</body>
</html>
