<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Top Navigation</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/bootstrap/css/bootstrap.min.css') }}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/plugins/iCheck/all.css') }}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/plugins/datepicker/datepicker3.css') }}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/plugins/select2/select2.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('css/AdminLTE-without-plugins.min.css') }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ asset('css/admin-lte-custom-blue.css') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ path('admin_dashboard') }}" class="navbar-brand">
            <small><img src="{{ asset('logo.svg') }}" alt="A to Z Appliances"></small>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            {% if is_granted('ROLE_ADMIN') %}
              <li {{ app.request.get('_route') == 'admin_technician_list' ? 'class="active"' : '' }}><a href="{{ path('admin_technician_list') }}"><i class="fa fa-users"></i> Technicians</a></li>
              <li {{ app.request.get('_route') == 'admin_technician_create' ? 'class="active"' : '' }}><a href="{{ path('admin_technician_create') }}"><i class="fa fa-user-plus"></i> Add technician</a></li>
              <li {{ app.request.get('_route') == 'admin_invoices' ? 'class="active"' : '' }}><a href="{{ path('admin_invoices') }}"><i class="fa fa-list-alt"></i> Invoices</a></li>
            {% endif %}
              {% if app.user.technician %}
                <li {{ app.request.get('_route') == 'admin_my_orders' ? 'class="active"' : '' }}><a href="{{ path('admin_my_orders') }}"><i class="fa fa-briefcase"></i> Work orders</a></li>
              {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ app.user.technician ? path('fos_user_profile_edit') : '#' }}">
                <span class="hidden-xs">{{ app.user.firstname }} {{ app.user.lastname }}&nbsp;</span>
                <i class="fa fa-user"></i>
              </a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-sign-out"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
        {% block container %}
      <!-- Content Header (Page header) -->
        {% block content_header %}
          <section class="content-header">
            <h1>
                {% block page_header %}

                {% endblock %}

            </h1>
          </section>
        {% endblock %}
      <!-- Main content -->
      <section class="content">
          {% for type, flashes in app.session.flashbag.all %}
              {% for flash in flashes %}
                <div class="alert alert-{{ type }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {#<h4><i class="icon fa fa-check"></i> Alert!</h4>#}
                    {{ flash }}
                </div>
              {% endfor %}
          {% endfor %}
          {% block content %}{% endblock %}
        <!-- /.box -->
      </section>
      <!-- /.content -->
        {% endblock %}
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      &copy; {{ 'now'|date('Y') }} <a href="{{ path('homepage') }}">A to Z Appliances</a>. All rights reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{{ asset('bower_components/admin-lte/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('bower_components/admin-lte/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ asset('bower_components/admin-lte/plugins/select2/select2.full.min.js') }}"></script>

<!-- InputMask -->
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('bower_components/admin-lte/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>

<!-- bootstrap datepicker -->
<script src="{{ asset('bower_components/admin-lte/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('bower_components/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- iCheck 1.0.1 -->
<script src="{{ asset('bower_components/admin-lte/plugins/iCheck/icheck.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bower_components/admin-lte/plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bower_components/admin-lte/dist/js/app.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('bower_components/admin-lte/dist/js/demo.js') }}"></script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        $("[data-mask]").inputmask();
        $("[data-phone-mask]").inputmask('(999) 999-9999', {
            showMaskOnHover: false
        });

        $('select#app_user_profile_specialize').on('change', function(e) {
//            alert('1');
            $('select#app_user_profile_specialize :selected').each(function(i, selected){
                $('select#app_user_profile_dont_work option[value=\''+$(selected).val()+'\'').prop('disabled', true).hide()
            });
            $('select#app_user_profile_specialize :not(:selected)').each(function(i, not_selected){
                $('select#app_user_profile_dont_work option[value=\''+$(not_selected).val()+'\'').prop('disabled', false).show()
            });
            $('select#app_user_profile_dont_work').select2('destroy').select2();
        });
        //Date picker
        $('.datepicker').datepicker({
            autoclose: true
        });
    });
</script>
<style>
  .control-label.required:after {
    content:"*";
    color:red;
    margin-left: 2px;
  }
</style>
</body>
</html>
