<table>
    <tbody>
    <tr>
        <td>First name</td>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{ user.lastname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ user.address }}</td>
    </tr>
    <tr>
        <td>Preferred days of work</td>
        <td>
            {%- for daynum in user.days %}
                {{ choices.days[daynum] }}{{ loop.last ? '' : ', ' }}
            {% endfor -%}
        </td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ user.phone }}</td>
    </tr>
    <tr>
        <td>Appliances specialize in</td>
        <td>
            {%- for appliance_key in user.specialize %}
                {{ choices.appliances[appliance_key] }}{{ loop.last ? '' : ', ' }}
            {% endfor -%}
        </td>
    </tr>
    <tr>
        <td>Appliances don't work with</td>
        <td>
            {%- for appliance_key in user.dontWork %}
                {{ choices.appliances[appliance_key] }}{{ loop.last ? '' : ', ' }}
            {% endfor -%}
        </td>
    </tr>
    <tr>
        <td>Years in business</td>
        <td>{{ user.years }}</td>
    </tr>
    <tr>
        <td>Licensed</td>
        <td>{{ user.licensed }}</td>
    </tr>
    <tr>
        <td>Carry business insurance</td>
        <td>{{ user.insurance }}</td>
    </tr>
    {% if user.insuranceType is not empty %}
        <tr>
            <td>Type of insurance</td>
            <td>{{ user.insuranceType|join('<br/>') }}</td>
        </tr>
    {% endif %}

    </tbody>
</table>