/* app css stylesheet */

@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/CenturyGothicRegular.eot');
  src: url('fonts/CenturyGothicRegular.woff') format('woff'),
  url('fonts/CenturyGothicRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueRegular.eot');
  src: url('fonts/BebasNeueRegular.woff2') format('woff2'),
  url('fonts/BebasNeueRegular.woff') format('woff'),
  url('fonts/BebasNeueRegular.ttf') format('truetype'),
  url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
  url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Century Gothic", sans-serif;
  position: relative;
  min-height: 100vh;
}
a {
  color: #303BA3;
  text-decoration: none;
}

textarea {
  resize: none;
  vertical-align: top
}

.home {
  width: 100%;
  height: 100vh;
}

.home-blue {
  background-color: #303ba3;
  left: 0;
}

.home-blue .name, .corporate .name {
  padding-top: calc(40vh - 130px);
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

.home-blue .text-big, .corporate .text-big {
  text-align: center;
  margin-top: 10vh;
  font-family: "Bebas Neue", sans-serif;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FAFAFA;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .home {
    width: 50%;
    height: 100%;
    position: fixed;
  }
  .home-blue .text-big, .corporate .text-big {
    margin-top: 70px;
    font-size: 52px;
    line-height: 62px;
  }
  .home-white {
    right: 0;
  }
}
.home-blue .text-medium, .corporate .text-medium {
  text-align: center;
  opacity: 0.6;
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
  line-height: 32px;
  color: #FAFAFA;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 6px;
}

.corporate .name, .corporate .text-big, .corporate .text-medium {
  color: #303ba3;
}

.home-blue .button {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  display: block;
  max-width: 100px;
  background-color: #FFCB01;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 9px 18px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.home-white .white-container {
  padding-top: calc(40vh - 130px);
  width: 310px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .home-white .white-container {
    width: 457px;
  }
  .home-white .header {
    margin-top: 112px;
  }
}

.home-white .header {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #303BA3;
}

.home-white .intro {
  margin-top: 20px;
  line-height: 26px;
  color: #B2B2B2;
  font-weight: bold;
}

.home-white .line {
  margin-top: 20px;
  width: 62px;
  height: 6px;
  background-color: #303BA3;
  border-radius: 4px;
}

.home-footer {
  width: 100%;
  position: absolute;
  bottom: 28px;
  text-align: center;
  opacity: 0.3;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 769px) {
  .home-footer {
    width: 50%;
    position: absolute;
    bottom: 28px;
    text-align: center;
    opacity: 0.3;
    font-size: 10px;
    line-height: 12px;
    color: #FAFAFA;
  }
}

/***************************************8*/
.wrapper {
  width: 310px;
  margin: 20px auto 0 auto;
  padding-bottom: 58px;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .wrapper {
    width: 750px;
    margin: 0 auto;
    padding-top: 10vh;
    position: relative;
  }

}

.footer {
  width: 100%;
  position: absolute;
  bottom: 18px;
  text-align: center;
  opacity: 0.3;
  font-size: 12px;
  line-height: 14px;
}

.close {
  position: absolute;
  right: 0;
  top: 31px;
}
.close a {
  font-size: 50px;
  color: #d8d8d8;
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  color: #303BA3;
  padding: 0 20px;
}

.page-header span {
  position: relative;
}
.page-header span:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 27px;
  height: 3px;
  background-color: #303BA3;
  border-radius: 2px;
  left: 0;
}

.page-sub-header {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #303BA3;
}

.columns .column {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .columns .column {
    float: left;
    width: 312px;
    margin-top: 40px;
  }
  .column .column-inner {
    padding: 0 30px;
  }
  .columns .column:first-child .column-inner {
    border-right: 3px solid #fafafa;
  }
}

.form-row {
  margin-bottom: 20px;
  position: relative;
}

.form-error {
  display: block;
  width: 100%;
  font-size: 10px;
  text-align: right;
  line-height: 12px;
  color: #D0021B;
}

form input[type='text'], form input[type='email'], form select, form textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  padding: 12px;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 5px;

  background-image:
          linear-gradient(45deg, transparent 10%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 10%);
  background-position:
          calc(100% - 20px) calc(1em + 5px),
          calc(100% - 15px) calc(1em + 5px);
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;
}
select.ng-empty {
  color: #B2B2B2;
}

select option {
  color: #222;
}

form .button, form .button:focus  {
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: #FFCB01;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 9px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: 0;
  box-shadow: none;
}

form .button:hover {
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  color: #B2B2B2;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  color: #B2B2B2;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  color: #B2B2B2;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  color: #B2B2B2;
}

.reviews {
  font-size: 10px;
  width: 310px;
  margin-top: 85px;
  position: relative;
  color: #a5a5a5;
}

.review {
  margin-bottom: 30px;
}

.review-odd {
  margin-left: 20px;
}

.review-odd .review-img {
  /*margin-left: -21px;*/
}

.review-odd .review-author {
  margin-left: -15px;
}

.review-even {
  margin-right: 20px;
}

.review-even .review-img {
  /*margin-right: -21px;*/
  float: right;
}

.review-even .review-author {
  margin-right: -15px;
  width: 100%;
  float: right;
  text-align: right;
}

.review-description {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px 15px;
  width: 192px;
  margin: 0 auto;
  line-height: 17px;
}

.review-img {
 width: 50px;
  height: 50px;
  margin-top: -20px;
}

.review-author {
  margin-top: 10px;
}

.contact-block {
  width: 312px;
  margin: 40px auto;
  position: relative;
}
.contact-bg {
  display: none;
}
@media (min-width: 768px) {
  .contact-bg {
    display: block;
  }
}

#bg-1 {
  position: absolute;
  top: 45px;
  left: 430px;
  width: 65px;
}

#bg-2 {
  position: absolute;
  top: 125px;
  left: 364px;
  width: 39px;
}

#bg-3 {
  position: absolute;
  top: 175px;
  left: 447px;
  width: 48px;
}

#bg-4 {
  position: absolute;
  top: 220px;
  left: 364px;
  width: 58px;
}


#bg-1l {
  position: absolute;
  top: 50px;
  left: -200px;
  width: 57px;
}

#bg-2l {
  position: absolute;
  top: 131px;
  left: -85px;
  width: 28px;
}

#bg-3l {
  position: absolute;
  top: 186px;
  left: -213px;
  width: 44px;
}

#bg-4l {
  position: absolute;
  top: 227px;
  left: -87px;
  width: 33px;
}

.thank-big, .thank-small {
  font-weight: bold;
  text-align: center;
  color: #303BA3;
}

.thank {
  padding-top: calc(40vh - 30px);
}

.thank-big {
  font-size: 24px;
  line-height: 29px;
}

.thank-small {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}


.slide-animate.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;

  /* start with opacity 0 (invisible) */
  opacity: 0;
}


.slide-animate.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}