header {
    padding: 30px 0;
}
.header-text {
    margin-top: 20px;
}

header .logo img{
    width: 100%;
}

.control-label.required:after {
    content:"*";
    color:red;
    margin-left: 2px;
}

textarea {
    resize: none;
}

.sign-item__label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #999999;
}

.sign-item__value {
    margin-bottom: 15px;
}

#signature.form-control {
    height: auto;
}

.checkbox {
    margin-bottom: 0;
    margin-top: 0;
}

#signature-clear {
    cursor: pointer;
}
#signature-clear:hover {
    color: #333;
}

.radio-inline label {
    font-weight: 400;
    margin-right: 30px;
}