body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #35383a;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #fafafa;
    padding: 35px 27px;
}

.header-text {
    float: left;
    width: 77%;
}

.header-title {
    font-weight: bold;
    font-size: 27px;
}

.header-contacts {
    line-height: 1.9em;
    margin-top: 7px;
    color: #959697;
}

.header-info {
    float: left;
    width: 23%;
}

.logo {

}

.logo img {
    width: 172px;
}

.invoice-number {
    margin-top: 20px;
    font-size: 27px;
    color: #2c3393;
}

.invoice-date {
    color: #959697;
    margin-top: 7px;
}

#content {
    padding: 0 81px;
}

.pdf-section__header {
    margin-top: 33px;
    border-bottom: 1px solid #000;
    line-height: 3em;
    font-weight: bold;
    font-size: 18px;
    width: 36%;
}

.pdf-section__content {
    margin-top: 31px;
}

.pdf-item {
    position: relative;
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 10px;
}

.pdf-item__label {
    font-weight: bold;
    width: 44%;
    text-align: right;
    float: left;
}

.pdf-item__value {
    margin-left: 3%;
    width: 53%;
    float:left;
}

.customer-compliant {
    line-height: 1.8em;
}

.tech-recommendation {
    width: 65%;
    line-height: 1.5em;
    float: left;
}
.total-price {
    float: right;
    margin-top: 10px;
    font-weight: bold;
}
.total-price__value {
    margin-left: 23px;
    color: #2c3393;
}

.pdf-section__column-4-1 {
    float: left;
    width: 14%;
    text-align: right;
    font-weight: bold;
}
.pdf-section__column-4-2 {
    float: left;
    width: 83%;
    padding-left: 3%;
}

.signature {
    width: 36%;
    float: right;
    position: relative;
    text-align: center;
}

.signature-caption {
    width: 100%;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    border-top: 1px solid;
    color: #35383a;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    color: #959697;
    padding: 14px 0;
    text-align: center;
}