{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
        <div class="alert alert-danger">
            <i class="icon fa fa-ban"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
{% endif %}


<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <input type="email" id="username" name="_username" class="form-control" value="{{ last_username }}"  placeholder="{{ 'form.email'|trans }}" {# required="required"#} />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" {#required="required"#} />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked/> <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
        </div>
        <!-- /.col -->
    </div>
</form>
