<div class="wrapper">
    <div class="close"><a href="/">&times;</a></div>
    <div class="thank">
        <div class="thank-big">Message sent, thank you!</div>
        <div class="thank-small">Hang on. Our reps will contact you shortly.</div>
    </div>
</div>
<div class="footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>
