{% extends '::base.html.twig' %}

{% block title %}A to Z Appliances{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('bower_components/admin-lte/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/AdminLTE-without-plugins.min.css') }}">
{% endblock %}

{% block body_class %}hold-transition login-page{% endblock %}
{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('homepage') }}"><img src="{{ asset('blue-logo.svg') }}" alt="A to Z Appliances" style="width: 100%"></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}
{% block javascripts %}
    <!-- jQuery 2.2.3 -->
    <script src="{{ asset('bower_components/admin-lte/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{{ asset('bower_components/admin-lte/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
