{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}

<div class="row">
    <!-- /.col -->
    <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'resetting.reset.submit'|trans }}</button>
    </div>
    <!-- /.col -->
</div>
{{ form_end(form) }}
