{% extends "InvoiceBundle:Default:layout.html.twig" %}
{% form_theme invoice 'InvoiceBundle:Form:custom_fields.html.twig' %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    {{ form_start(invoice) }}
                    <div id="invoice_appliances" data-prototype="{{ form_widget(invoice.appliances.vars.prototype)|e }}">
                        {%- for appliance in invoice.appliances %}
                            {{- form_row(appliance) -}}
                        {% endfor -%}
                    </div>

                    <div class="form-group">
                        <a href="#" id="add-another-appliance" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add another appliance</a>
                    </div>

                    <script type="text/javascript">
                        // keep track of how many email fields have been rendered
                        var emailCount = '{{ invoice.appliances|length }}';

                        var options = {
                            onEnable: function (e, $subject) {
                                $subject
                                    .prop('required', true)
                                    .closest('.form-group').show()
                                    .find('.control-label').addClass('required')
                                ;
                            },
                            onDisable: function (e, $subject) {
                                $subject
                                    .prop('required', false)
                                    .closest('.form-group')
                                    .validator('validate').hide()
                                    .find('.control-label').removeClass('required')
                            }
                        };


                        function dependsOf(selector, targetSelector) {
                            var condition = {};
                            condition[targetSelector] = {
                                values: ['other']
                            };
                            $(selector).dependsOn(condition, options);
                        }

                        function makeRequired(selector) {
                            if($(selector).is(':visible')) {
                                $(selector)
                                    .prop('required', true)
                                    .closest('.form-group').show()
                                    .find('.control-label').addClass('required')
                            } else {
                                $(selector)
                                    .prop('required', false)
                                    .closest('.form-group')
//                                    .validator('update')
                                    .hide()
                                    .find('.control-label').removeClass('required')
                                    .closest('form').validator('update')
                            }
                        }

                        function applianceDepends(number) {
                            dependsOf(
                                '#invoice_appliances_' + number + '_appliance_other',
                                '#invoice_appliances_' + number + '_appliance'
                            );
                            dependsOf(
                                '#invoice_appliances_' + number + '_brand_other',
                                '#invoice_appliances_' + number + '_brand'
                            );
                            dependsOf(
                                '#invoice_appliances_' + number + '_color_other',
                                '#invoice_appliances_' + number + '_color'
                            );
                            dependsOf(
                                '#invoice_appliances_' + number + '_size_other',
                                '#invoice_appliances_' + number + '_size'
                            );


                            $('#invoice_appliances_' + number + '_fuel').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    not: ['refrigerator', 'microwave', 'dryer', 'washer', 'dishwasher']
                                }
                            });

                            $('#invoice_appliances_' + number + '_size').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    not: ['refrigerator', 'dryer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_size')

                            $('#invoice_appliances_' + number + '_burners').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    not: ['refrigerator', 'microwave', 'washer', 'oven']
                                }
                            });

                            $('#invoice_appliances_' + number + '_cycles').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    not: ['refrigerator', 'microwave', 'oven', 'range']
                                }
                            });

                            $('#invoice_appliances_' + number + '_options').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    not: ['refrigerator', 'microwave', 'oven', 'range']
                                }
                            });

                            $('#invoice_appliances_' + number + '_refrigerator_ice_maker input').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['refrigerator']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_refrigerator_ice_maker input')

                            $('#invoice_appliances_' + number + '_refrigerator_ice_dispenser input').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['refrigerator']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_refrigerator_ice_dispenser input')

                            $('#invoice_appliances_' + number + '_refrigerator_location').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['refrigerator']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_refrigerator_location')
                            $('#invoice_appliances_' + number + '_refrigerator_location_other').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['refrigerator']
                                },
                                ['#invoice_appliances_' + number + '_refrigerator_location']: {
                                    values: ['other']
                                }

                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_refrigerator_location_other');

                            $('#invoice_appliances_' + number + '_refrigerator_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['refrigerator']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_refrigerator_type')

                            $('#invoice_appliances_' + number + '_dryer_location').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dryer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_dryer_location')
                            $('#invoice_appliances_' + number + '_dryer_location_other').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dryer']
                                },
                                ['#invoice_appliances_' + number + '_dryer_location']: {
                                    values: ['other']
                                }

                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_dryer_location_other');

                            $('#invoice_appliances_' + number + '_dryer_fuel').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dryer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_dryer_fuel')

                            $('#invoice_appliances_' + number + '_dryer_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dryer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_dryer_type')
                            $('#invoice_appliances_' + number + '_dryer_type_other').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dryer']
                                },
                                ['#invoice_appliances_' + number + '_dryer_type']: {
                                    values: ['other']
                                }

                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_dryer_type_other');

                            $('#invoice_appliances_' + number + '_washer_location').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['washer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_washer_location')
                            $('#invoice_appliances_' + number + '_washer_location_other').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['washer']
                                },
                                ['#invoice_appliances_' + number + '_washer_location']: {
                                    values: ['other']
                                }

                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_washer_location_other')

                            $('#invoice_appliances_' + number + '_washer_load_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['washer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_washer_load_type')

                            $('#invoice_appliances_' + number + '_washer_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['washer']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_washer_type')

                            $('#invoice_appliances_' + number + '_dishwasher_control_location').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['dishwasher']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_washer_type')

                            // make cycles and options required when appliance is dishwasher
                            function makeRequiredWhenDishwasher() {
                                if($('#invoice_appliances_' + number + '_appliance').val() === 'dishwasher') {
                                    $('#invoice_appliances_' + number + '_cycles, #invoice_appliances_' + number + '_options')
                                        .prop('required', true)
                                        .closest('.form-group')
                                        .find('.control-label').addClass('required')
                                } else {
                                    $('#invoice_appliances_' + number + '_cycles, #invoice_appliances_' + number + '_options')
                                        .prop('required', false)
                                        .closest('.form-group')
                                        .find('.control-label').removeClass('required')
                                        .closest('form').validator('update')
                                }
                            }
                            makeRequiredWhenDishwasher();
                            $('#invoice_appliances_' + number + '_appliance').on('change', makeRequiredWhenDishwasher);

                            $('#invoice_appliances_' + number + '_oven_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['oven']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_oven_type')
                            $('#invoice_appliances_' + number + '_oven_convection input').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['oven']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_oven_convection input')
                            $('#invoice_appliances_' + number + '_microwave_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['microwave']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_microware_type')
                            $('#invoice_appliances_' + number + '_range_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['range']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_range_type')
                            $('#invoice_appliances_' + number + '_burner_type').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['range']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_burner_type')
                            $('#invoice_appliances_' + number + '_range_convection input').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['range']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_range_convection input')
                            $('#invoice_appliances_' + number + '_range_self_clean input').dependsOn({
                                ['#invoice_appliances_' + number + '_appliance']: {
                                    values: ['range']
                                }
                            }, options);
                            makeRequired('#invoice_appliances_' + number + '_range_self_clean input')
                            

                        }
                        $(document).ready(function() {
                            if(emailCount > 0) {
                                for(i = 0; i < emailCount; i++) {
                                    applianceDepends(i)
                                }
                            }

                            $('#add-another-appliance').click(function(e) {
                                e.preventDefault();

                                var emailList = $('#invoice_appliances');

                                // grab the prototype template
                                var newWidget = emailList.attr('data-prototype');
                                // replace the "__name__" used in the id and name of the prototype
                                // with a number that's unique to your emails
                                // end name attribute looks like name="contact[emails][2]"
                                newWidget = newWidget.replace(/__name__/g, emailCount);
//                                newWidget = newWidget.replace(/__name1__/g, 1+parseInt(emailCount));


                                // create a new list element and add it to the list
                                var newLi = $('<div></div>').html(newWidget);
                                newLi.appendTo(emailList);

//                                if(emailCount > 0) {
//                                    var removeButton = $('<div class="form-group"><a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Remove the appliance</a></div>')
//                                    removeButton.on('click', function () {
//                                        newLi.remove();
//                                    });
//                                    removeButton.appendTo(newLi);
//                                }
                                emailList.closest('form').validator('update');

                                applianceDepends(emailCount);

                                $('.remove-appliance').eq(0).hide();

                                emailCount++;
                            });
                            if ($('#invoice_appliances').is(':empty')) {
                                $('#add-another-appliance').click();
                            }
                                // rewrite when edit is needed

                        });
                        $('.remove-appliance').eq(0).hide();

                        $('body').on('click', '.remove-appliance', function() {
                            var form = $(this).closest('form');
                            $(this).closest('.form-group').parent().remove();
                            form.validator('update');
                        });

                        $(function() {
                            $('form').on('keyup', '.to-uppercase', function() {
                                this.value = this.value.toLocaleUpperCase();
                            });
                        });
                    </script>

                    {{ form_row(invoice.address) }}
                    {{ form_row(invoice.region) }}
                    {# TODO: money prefix #}
                    <div class="invoice-amount_due">
                        {{ form_row(invoice.amount_due) }}
                    </div>
                    <div class="invoice-amount_due-other">
                        {{ form_row(invoice.amount_due_other) }}
                    </div>
                    <script>
                        $('.invoice-amount_due-other').dependsOn({
                            '.invoice-amount_due select': {
                                values: ['other']
                            }
                        }, {
                            onEnable: function() {
                                $('.invoice-amount_due-other input').prop('required', true)
                            },
                            onDisable: function() {
                                $('.invoice-amount_due-other input').prop('required', false).validator('validate')
                            }
                        });
                    </script>
                    <div class="invoice-payment-method">
                        {{ form_row(invoice.payment_method) }}
                    </div>
                    <script>
                        $('.invoice-payment-method').dependsOn({
                            '.invoice-amount_due select': {
                                not: ['$0']
                            }
                        }, {
                            onEnable: function() {
                                $('.invoice-payment-method select').prop('required', true)
                            },
                            onDisable: function() {
                                $('.invoice-payment-method select').prop('required', false).validator('validate')
                            }
                        });
                    </script>
                    <div class="invoice-check-number">
                        {{ form_row(invoice.check_number) }}
                    </div>
                    <script>
                        $('.invoice-check-number').dependsOn({
                            '.invoice-payment-method select': {
                                values: ['check']
                            }
                        }, {
                            onEnable: function() {
                                $('.invoice-check-number input').prop('required', true)
                            },
                            onDisable: function() {
                                $('.invoice-check-number input').prop('required', false).validator('validate')
                            }
                        });
                    </script>
                    {{ form_row(invoice.add_estimate) }}
                    {{ form_row(invoice.estimate) }}
                    <script>
                        $('#invoice_estimate').dependsOn({
                            ['#invoice_add_estimate']: {
                                checked: true
                            }
                        }, options);
                        makeRequired('#invoice_estimate')
                    </script>

                    <div class="row">
                        <div class="col-sm-6">{{ form_row(invoice.first_name) }}</div>
                        <div class="col-sm-6">{{ form_row(invoice.last_name) }}</div>
                    </div>
                    {{ form_row(invoice.email) }}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <button type="submit" class="btn btn-primary btn-block">Next</button>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(invoice._token) }}
                    {{ form_end(invoice, {render_rest: false}) }}
                </div>
            </div>
        </div>
{% endblock %}
