<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} A to Z</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bower_components/jquery-depends-on/dist/dependsOn.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bower_components/bootstrap-validator/dist/validator.min.js') }}" type="text/javascript"></script>
        <script>
            $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button)'

        $(document).ready(function() {
            $('form').validator('update')
        });
        </script>
        {#<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>#}
        {#<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>#}

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('bower_components/jSignature/libs/flashcanvas.js') }}"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ asset('bower_components/jSignature/libs/modernizr.js') }}"></script>
    </head>
    <body>
    {% if app.request.host == 'a-zappliances.com' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92084021-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="logo">
                                <a href="/"><img src="{{ asset('logo_atoz.png') }}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="header-text">
                                <div class="pull-left hidden-xs" style="border-left: 1px solid #a0a0a0;">&nbsp;</div>
                                <div class="text-muted text-center">Create an invoice</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer></footer>
    </body>
</html>
