<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="invoiceApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="invoiceApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="invoiceApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="invoiceApp" class="no-js"> <!--<![endif]-->
<head>
  <title>{% block title '' %} A to Z</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
  {#<script src="{{ asset('bower_components/jquery-depends-on/dist/dependsOn.min.js') }}" type="text/javascript"></script>#}
  {#<script src="{{ asset('bower_components/bootstrap-validator/dist/validator.min.js') }}" type="text/javascript"></script>#}
  {#<script>
      $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button)'

      $(document).ready(function() {
          $('form').validator('update')
      });
  </script>#}
    {#<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>#}

  <script type="text/javascript" src="{{ asset('bower_components/jSignature/libs/modernizr.js') }}"></script>
</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="logo">
                <a href="/"><img src="{{ asset('logo_atoz.png') }}" alt="A to Z Appliances"></a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="header-text">
                <div class="pull-left hidden-xs" style="border-left: 1px solid #a0a0a0;">&nbsp;</div>
                <div class="text-muted text-center">Create an invoice</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="container">
      <div class="row"
      ng-show="step.index == 1">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <form name="invoiceForm" method="post"
                ng-submit="invoiceForm.$invalid ? scrollToError() : invoice.submit()"
                ng-controller="FormCtrl"
                novalidate>
            <div ng-repeat="appliance in invoice.appliances">
              <h3 ng-if="invoice.appliances.length > 1" ng-bind="'Appliance #'+($index+1)"></h3>
              <div>
                <ng-form name="applianceForm">
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.appliance.$invalid && (invoiceFormSubmitted || applianceForm.appliance.$touched) }">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_appliance\' }}' }}"
                    >Appliance</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_appliance\' }}' }}"
                            name="appliance"
                            required="required"
                            class="has-feedback form-control"
                            autocomplete="off"
                            ng-model="appliance.appliance">
                      <option value="" selected="selected">Choose the appliance</option>
                      <option value="Cooktop">Cooktop</option>
                      <option value="Dishwasher">Dishwasher</option>
                      <option value="Dryer">Dryer</option>
                      <option value="Exhaust fan/Hood">Exhaust fan/Hood</option>
                      <option value="Freezer (free standing)">Freezer (free standing)</option>
                      <option value="Garbage Disposal">Garbage Disposal</option>
                      <option value="Ice machine (free standing)">Ice machine (free standing)</option>
                      <option value="Microwave">Microwave</option>
                      <option value="Oven">Oven</option>
                      <option value="Range">Range</option>
                      <option value="Refrigerator">Refrigerator</option>
                      <option value="Stackable dryer">Stackable dryer</option>
                      <option value="Stackable washer">Stackable washer</option>
                      <option value="Trash Compactor">Trash Compactor</option>
                      <option value="Washer">Washer</option>
                      <option value="Wine cooler">Wine cooler</option>
                      <option value="other" style="font-style: italic;">Other</option>
                    </select>
                    <p ng-show="applianceForm.appliance.$invalid && (invoiceFormSubmitted || applianceForm.appliance.$touched)" class="help-block">Please, choose the appliance.</p>

                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.appliance_other.$invalid && (invoiceFormSubmitted || applianceForm.appliance_other.$touched) }"
                       ng-if="appliance.appliance == 'other'">
                    <input
                            type="text"
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_appliance_other\' }}' }}"
                            name="appliance_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.appliance_other"
                            required>
                    <p ng-show="applianceForm.appliance_other.$invalid && (invoiceFormSubmitted || applianceForm.appliance_other.$touched)" class="help-block">Please, type the appliance.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.brand.$invalid && (invoiceFormSubmitted || applianceForm.brand.$touched) }">
                    <label
                            class="control-label required"
                            ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_brand\' }}' }}">Brand</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_brand\' }}' }}"
                            name="brand"
                            required="required"
                            class="form-control"
                            ng-model="appliance.brand">
                      <option value="" selected="selected">Choose the brand</option>
                      <option value="Amana">Amana</option>
                      <option value="ASKO">ASKO</option>
                      <option value="Bertazzoni">Bertazzoni</option>
                      <option value="BOSCH">BOSCH</option>
                      <option value="Dacor">Dacor</option>
                      <option value="Electrolux">Electrolux</option>
                      <option value="EUROTECH">EUROTECH</option>
                      <option value="Fisher&Paykel">Fisher&amp;Paykel</option>
                      <option value="Frigidaire">Frigidaire</option>
                      <option value="Gaggenau">Gaggenau</option>
                      <option value="GE">GE</option>
                      <option value="GE Monogram">GE Monogram</option>
                      <option value="Haier">Haier</option>
                      <option value="Hot Point">Hot Point</option>
                      <option value="Jenn-Air">Jenn-Air</option>
                      <option value="Kenmore">Kenmore</option>
                      <option value="Kitchenaid">Kitchenaid</option>
                      <option value="LG">LG</option>
                      <option value="LIEBHERR">LIEBHERR</option>
                      <option value="Magic Chef">Magic Chef</option>
                      <option value="Maytag">Maytag</option>
                      <option value="Miele">Miele</option>
                      <option value="Nutone">Nutone</option>
                      <option value="Samsung">Samsung</option>
                      <option value="Sub Zero">Sub Zero</option>
                      <option value="Thermador">Thermador</option>
                      <option value="U-Line">U-Line</option>
                      <option value="Viking">Viking</option>
                      <option value="Whirlpool">Whirlpool</option>
                      <option value="Wolf">Wolf</option>
                      <option value="other" style="font-style: italic;">Other </option>
                    </select>
                    <p ng-show="applianceForm.brand.$invalid && (invoiceFormSubmitted || applianceForm.brand.$touched)" class="help-block">Please, choose the brand.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.brand_other.$invalid && (invoiceFormSubmitted || applianceForm.brand_other.$touched) }"
                       ng-if="appliance.brand == 'other'">
                    <input
                            type="text"
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_brand_other\' }}' }}"
                            name="brand_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.brand_other"
                            required>
                    <p ng-show="applianceForm.brand_other.$invalid && (invoiceFormSubmitted || applianceForm.brand_other.$touched)" class="help-block">Please, type the brand.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.model.$invalid && (invoiceFormSubmitted || applianceForm.model.$touched) }">
                    <label
                            class="control-label required"
                            ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_model\' }}' }}">Model</label>
                    <input
                            type="text"
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_model\' }}' }}"
                            name="model"
                            required="required"
                            placeholder="Type the model"
                            class="form-control"
                            ng-model="appliance.model"
                            capitalize>
                    <p ng-show="applianceForm.model.$invalid && (invoiceFormSubmitted || applianceForm.model.$touched)" class="help-block">Please, type the model.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.serial_number.$invalid && (invoiceFormSubmitted || applianceForm.serial_number.$touched) }">
                    <label
                            class="control-label required"
                            ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_serial_number\' }}' }}">Serial number</label>
                    <input
                            type="text"
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_serial_number\' }}' }}"
                            name="serial_number"
                            required="required"
                            placeholder="Type serial number"
                            class="form-control"
                            ng-model="appliance.serial_number"
                            capitalize>
                    <p ng-show="applianceForm.serial_number.$invalid && (invoiceFormSubmitted || applianceForm.serial_number.$touched)" class="help-block">Please, type the serial number.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.refrigerator_ice_maker.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_ice_maker.$touched) }"
                       ng-if="appliance.appliance == 'Refrigerator'">
                  <label class="control-label required">Ice maker</label>
                    <div>
                      <div class="radio-inline">
                        <label class="required">
                          <input
                                  type="radio"
                                  name="refrigerator_ice_maker"
                                  value="Yes"
                                  ng-model="appliance.refrigerator_ice_maker"
                                  required>
                          Yes</label>
                      </div>
                      <div class="radio-inline">
                        <label class="required">
                          <input
                                  type="radio"
                                  name="refrigerator_ice_maker"
                                  value="No"
                                  ng-model="appliance.refrigerator_ice_maker"
                                  required>
                          No</label>
                      </div>
                    </div>
                    <p ng-show="applianceForm.refrigerator_ice_maker.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_ice_maker.$touched)" class="help-block">Please, type the ice maker.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.refrigerator_ice_dispenser.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_ice_dispenser.$touched) }"
                       ng-if="appliance.appliance == 'Refrigerator'">
                    <label class="control-label required">Water/ice dispenser</label>
                    <div>
                      <div class="radio-inline">
                        <label class="required">
                          <input type="radio" name="refrigerator_ice_dispenser" value="Yes" ng-model="appliance.refrigerator_ice_dispenser" required>
                          Yes</label>
                      </div><div class="radio-inline">
                        <label class="required">
                          <input type="radio" name="refrigerator_ice_dispenser" value="No" ng-model="appliance.refrigerator_ice_dispenser" required>
                          No</label>
                      </div>
                    </div>
                    <p ng-show="applianceForm.refrigerator_ice_dispenser.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_ice_dispenser.$touched)" class="help-block">Please, type the ice maker.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.refrigerator_location.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_location.$touched) }"
                       ng-if="appliance.appliance == 'Refrigerator'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_refrigerator_location\' }}' }}">Location</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_refrigerator_location\' }}' }}"
                            name="refrigerator_location"
                            class="form-control"
                            ng-model="appliance.refrigerator_location"
                            required>
                      <option value="">Choose the location</option>
                      <option value="Kitchen">Kitchen</option>
                      <option value="Garage">Garage</option>
                      <option value="other" style="font-style: italic;">Other </option>
                    </select>
                    </select>
                    <p ng-show="applianceForm.refrigerator_location.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_location.$touched)" class="help-block">Please, choose location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.refrigerator_location_other.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_location_other.$touched) }"
                       ng-if="appliance.appliance == 'Refrigerator' && appliance.refrigerator_location == 'other'">
                    <input
                            type="text"
                            {#id="{{ '{{ \'invoice_appliances_\'+$index+\'_refrigerator_location_other\' }}' }}"#}
                            name="refrigerator_location_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.refrigerator_location_other"
                            required>
                    <p ng-show="applianceForm.refrigerator_location_other.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_location_other.$touched)" class="help-block">Please, type the location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.refrigerator_type.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_type.$touched) }"
                       ng-if="appliance.appliance == 'Refrigerator'">
                    <label
                            class="control-label required"
                            ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_refrigerator_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_refrigerator_type\' }}' }}"
                            name="refrigerator_type"
                            class="form-control"
                            ng-model="appliance.refrigerator_type"
                            required>
                      <option value="" selected>Choose the value</option>
                      <option value="Side by side">Side by side</option>
                      <option value="Top-to-bottom">Top-to-bottom</option>
                      <option value="French door">French door</option>
                      <option value="Built-in">Built-in</option>
                    </select>
                    <p ng-show="applianceForm.refrigerator_type.$invalid && (invoiceFormSubmitted || applianceForm.refrigerator_type.$touched)" class="help-block">Please, choose type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dryer_location.$invalid && (invoiceFormSubmitted || applianceForm.dryer_location.$touched) }"
                       ng-if="appliance.appliance == 'Dryer'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_location\' }}' }}">Location</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_location\' }}' }}"
                            name="dryer_location"
                            class="form-control"
                            ng-model="appliance.dryer_location"
                            required>
                      <option value="">Choose the location</option>
                      <option value="Laundry">Laundry</option>
                      <option value="Outside">Outside</option>
                      <option value="Garage">Garage</option>
                      <option value="Kitchen">Kitchen</option>
                      <option value="other" style="font-style: italic;">Other </option>
                    </select>
                    <p ng-show="applianceForm.dryer_location.$invalid && (invoiceFormSubmitted || applianceForm.dryer_location.$touched)" class="help-block">Please, choose location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dryer_location.$invalid && (invoiceFormSubmitted || applianceForm.dryer_location.$touched) }"
                       ng-if="appliance.appliance == 'Dryer' && appliance.dryer_location === 'other'">
                    <input
                            type="text"
                            {#id="invoice_appliances_0_dryer_location_other"#}
                            name="dryer_location_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.dryer_location_other"
                            required>
                    <p ng-show="applianceForm.dryer_location_other.$invalid && (invoiceFormSubmitted || applianceForm.dryer_location_other.$touched)" class="help-block">Please, type the location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dryer_fuel.$invalid && (invoiceFormSubmitted || applianceForm.dryer_fuel.$touched) }"
                       ng-if="appliance.appliance == 'Dryer'">
                    <label
                            class="control-label required"
                            ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_fuel\' }}' }}">Fuel</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_fuel\' }}' }}"
                            name="dryer_fuel"
                            class="form-control"
                            ng-model="appliance.dryer_fuel"
                            required>
                      <option value="">Choose the fuel</option>
                      <option value="Natural gas">Natural gas</option>
                      <option value="Electric">Electric</option>
                      <option value="Propane">Propane</option>
                    </select>
                    <p ng-show="applianceForm.dryer_fuel.$invalid && (invoiceFormSubmitted || applianceForm.dryer_fuel.$touched)" class="help-block">Please, choose fuel.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dryer_type.$invalid && (invoiceFormSubmitted || applianceForm.dryer_type.$touched) }"
                       ng-if="appliance.appliance == 'Dryer'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_dryer_type\' }}' }}"
                            name="dryer_type"
                            class="form-control"
                            ng-model="appliance.dryer_type"
                            required>
                      <option value="">Choose the type</option>
                      <option value="Stackable">Stackable</option
                      ><option value="All in one">All in one</option>
                      <option value="other" style="font-style: italic;">Other </option>
                    </select>
                    <p ng-show="applianceForm.dryer_type.$invalid && (invoiceFormSubmitted || applianceForm.dryer_type.$touched)" class="help-block">Please, choose type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dryer_type_other.$invalid && (invoiceFormSubmitted || applianceForm.dryer_type_other.$touched) }"
                       ng-if="appliance.appliance == 'Dryer' && appliance.dryer_type === 'other'">
                    <input
                            type="text"
                            {#id="invoice_appliances_0_dryer_type_other"#}
                            name="dryer_type_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.dryer_type_other"
                            required>
                    <p ng-show="applianceForm.dryer_type_other.$invalid && (invoiceFormSubmitted || applianceForm.dryer_type_other.$touched)" class="help-block">Please, choose type.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.washer_location.$invalid && (invoiceFormSubmitted || applianceForm.washer_location.$touched) }"
                       ng-if="appliance.appliance == 'Washer'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_location\' }}' }}">Location</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_location\' }}' }}"
                            name="washer_location"
                            class="form-control"
                            ng-model="appliance.washer_location"
                            required>
                      <option value="">Choose the location</option>
                      <option value="Garage">Garage</option>
                      <option value="Laundry">Laundry</option>
                      <option value="Closet">Closet</option>
                      <option value="other" style="font-style: italic;">Other </option>
                    </select>
                    <p ng-show="applianceForm.washer_location.$invalid && (invoiceFormSubmitted || applianceForm.washer_location.$touched)" class="help-block">Please, choose location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.washer_location_other.$invalid && (invoiceFormSubmitted || applianceForm.washer_location_other.$touched) }"
                       ng-if="appliance.appliance == 'Washer' && appliance.washer_location === 'other'">
                    <input
                            type="text"
                            {#id="invoice_appliances_0_washer_location_other"#}
                            name="washer_location_other"
                            placeholder="Type the value"
                            class="form-control"
                            ng-model="appliance.washer_location_other"
                            required>
                    <p ng-show="applianceForm.washer_location_other.$invalid && (invoiceFormSubmitted || applianceForm.washer_location_other.$touched)" class="help-block">Please, type the location.</p>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.washer_load_type.$invalid && (invoiceFormSubmitted || applianceForm.washer_load_type.$touched) }"
                       ng-if="appliance.appliance == 'Washer'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_load_type\' }}' }}">Load type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_load_type\' }}' }}"
                            name="washer_load_type"
                            class="form-control"
                            ng-model="appliance.washer_load_type"
                            required>
                      <option value="">Choose the value</option>
                      <option value="Top load">Top load</option>
                      <option value="Front load">Front load</option>
                    </select>
                    <p ng-show="applianceForm.washer_load_type.$invalid && (invoiceFormSubmitted || applianceForm.washer_load_type.$touched)" class="help-block">Please, type the location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.washer_type.$invalid && (invoiceFormSubmitted || applianceForm.washer_type.$touched) }"
                       ng-if="appliance.appliance == 'Washer'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_washer_type\' }}' }}"
                            name="washer_type"
                            class="form-control"
                            ng-model="appliance.washer_type"
                            required>
                      <option value="">Choose the type</option>
                      <option value="Stackable">Stackable</option>
                      <option value="Side by side">Side by side</option>
                      <option value="All in one">All in one </option>
                    </select>
                    <p ng-show="applianceForm.washer_type.$invalid && (invoiceFormSubmitted || applianceForm.washer_type.$touched)" class="help-block">Please, choose the type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.dishwasher_control_location.$invalid && (invoiceFormSubmitted || applianceForm.dishwasher_control_location.$touched) }"
                       ng-if="appliance.appliance == 'Dishwasher'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_dishwasher_control_location\' }}' }}">Control location</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_dishwasher_control_location\' }}' }}"
                            name="dishwasher_control_location"
                            class="form-control"
                            ng-model="appliance.dishwasher_control_location"
                            required>
                      <option value="">Choose the location</option>
                      <option value="Front">Front</option>
                      <option value="Hidden">Hidden</option>
                    </select>
                    <p ng-show="applianceForm.dishwasher_control_location.$invalid && (invoiceFormSubmitted || applianceForm.dishwasher_control_location.$touched)" class="help-block">Please, choose the location.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.oven_type.$invalid && (invoiceFormSubmitted || applianceForm.oven_type.$touched) }"
                       ng-if="appliance.appliance == 'Oven'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_oven_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_oven_type\' }}' }}"
                            name="oven_type"
                            class="form-control"
                            ng-model="appliance.oven_type"
                            required>
                      <option value="">Choose the value</option>
                      <option value="Single">Single</option>
                      <option value="Double">Double</option>
                      <option value="Combination">Combination</option>
                    </select>
                    <p ng-show="applianceForm.oven_type.$invalid && (invoiceFormSubmitted || applianceForm.oven_type.$touched)" class="help-block">Please, choose the type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.oven_convection.$invalid && (invoiceFormSubmitted || applianceForm.oven_convection.$touched) }"
                       ng-if="appliance.appliance == 'Oven'">
                    <label class="control-label required">Convection</label>
                    <div>
                      <div class="radio-inline">
                        <label>
                          <input
                                  type="radio"
                                  {#id="invoice_appliances_0_oven_convection_0"#}
                                  name="oven_convection"
                                  value="Yes"
                                  ng-model="appliance.oven_convection"
                                  required>
                          Yes</label>
                      </div>
                      <div class="radio-inline">
                        <label class="required">
                          <input type="radio"
                                 {#id="invoice_appliances_0_oven_convection_1"#}
                                 name="oven_convection"
                                 value="No"
                                 ng-model="appliance.oven_convection"
                                 required>
                          No</label>
                      </div>
                    </div>
                    <p ng-show="applianceForm.oven_convection.$invalid && (invoiceFormSubmitted || applianceForm.oven_convection.$touched)" class="help-block">Please, choose the convection existence.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.microwave_type.$invalid && (invoiceFormSubmitted || applianceForm.microwave_type.$touched) }"
                       ng-if="appliance.appliance == 'Microwave'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_microwave_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_microwave_type\' }}' }}"
                            name="microwave_type"
                            class="form-control"
                            ng-model="appliance.microwave_type"
                            required>
                      <option value="">Choose the value</option>
                      <option value="Over-the-range">Over-the-range</option>
                      <option value="Built-in">Built-in</option>
                      <option value="Countertop">Countertop</option>
                      <option value="Oven combination">Oven combination</option>
                    </select>
                    <p ng-show="applianceForm.microwave_type.$invalid && (invoiceFormSubmitted || applianceForm.microwave_type.$touched)" class="help-block">Please, choose the type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.range_type.$invalid && (invoiceFormSubmitted || applianceForm.range_type.$touched) }"
                       ng-if="appliance.appliance == 'Range'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_range_type\' }}' }}">Type</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_range_type\' }}' }}"
                            name="range_type"
                            class="form-control"
                            ng-model="appliance.range_type"
                            required>
                      <option value="">Choose the value</option>
                      <option value="freestanding">Freestanding</option>
                      <option value="slide_in">Slide-in</option>
                      <option value="drop_in">Drop-in</option>
                    </select>
                    <p ng-show="applianceForm.range_type.$invalid && (invoiceFormSubmitted || applianceForm.range_type.$touched)" class="help-block">Please, choose the type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.burner_type.$invalid && (invoiceFormSubmitted || applianceForm.burner_type.$touched) }"
                       ng-if="appliance.appliance == 'Range'">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_burner_type\' }}' }}">Burner type</label>
                    <select ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_burner_type\' }}' }}"
                            name="burner_type"
                            class="form-control"
                            ng-model="appliance.burner_type"
                            required>
                      <option value="">Choose the value</option>
                      <option value="Glass top">Glass top</option>
                      <option value="Coils">Coils</option>
                      <option value="Sealed burners">Sealed burners</option>
                    </select>
                    <p ng-show="applianceForm.burner_type.$invalid && (invoiceFormSubmitted || applianceForm.burner_type.$touched)" class="help-block">Please, choose the burner type.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.range_convection.$invalid && (invoiceFormSubmitted || applianceForm.range_convection.$touched) }"
                       ng-if="appliance.appliance == 'Range'">
                    <label class="control-label required">Convection</label>
                    <div>
                      <div class="radio-inline">
                        <label>
                          <input type="radio"
                                 {#id="invoice_appliances_0_range_convection_0" #}
                                 name="range_convection"
                                 value="Yes"
                                 ng-model="appliance.range_convection"
                                 required>
                          Yes</label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input type="radio"
                                 {#id="invoice_appliances_0_range_convection_1" #}
                                 name="range_convection"
                                 value="No"
                                 ng-model="appliance.range_convection"
                                 required>
                          No</label>
                      </div>
                    </div>
                    <p ng-show="applianceForm.range_convection.$invalid && (invoiceFormSubmitted || applianceForm.range_convection.$touched)" class="help-block">Please, choose the convection existence.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.range_self_clean.$invalid && (invoiceFormSubmitted || applianceForm.range_self_clean.$touched) }"
                       ng-if="appliance.appliance == 'Range'">
                    <label class="control-label required">Self clean</label>
                    <div>
                      <div class="radio-inline">
                        <label>
                          <input type="radio"
                                 name="range_self_clean"
                                 value="Yes"
                                 ng-model="appliance.range_self_clean"
                                 required>
                          Yes</label>
                      </div><div class="radio-inline">
                        <label class="required">
                          <input type="radio"
                                 name="range_self_clean"
                                 value="No"
                                 ng-model="appliance.range_self_clean"
                                 required>
                          No</label>
                      </div>
                    </div>
                    <p ng-show="applianceForm.range_self_clean.$invalid && (invoiceFormSubmitted || applianceForm.range_self_clean.$touched)" class="help-block">Please, choose the self clean existence.</p>
                  </div>




                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.customer_complaint.$invalid && (invoiceFormSubmitted || applianceForm.customer_complaint.$touched) }">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_customer_complaint\' }}' }}">Customer complaint</label>
                    <textarea
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_customer_complaint\' }}' }}"
                            name="customer_complaint"
                            class="form-control"
                            ng-model="appliance.customer_complaint"
                            required>

                    </textarea>
                    <p ng-show="applianceForm.customer_complaint.$invalid && (invoiceFormSubmitted || applianceForm.customer_complaint.$touched)" class="help-block">Please, type the complaint.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.tech_recommendation.$invalid && (invoiceFormSubmitted || applianceForm.tech_recommendation.$touched) }">
                    <label class="control-label required"
                         ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_tech_recommendation\' }}' }}">Tech recommendation</label>
                    <textarea
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_tech_recommendation\' }}' }}"
                            name="tech_recommendation"
                            class="form-control"
                            ng-model="appliance.tech_recommendation"
                            required></textarea>
                    <p ng-show="applianceForm.tech_recommendation.$invalid && (invoiceFormSubmitted || applianceForm.tech_recommendation.$touched)" class="help-block">Please, type the recommendation.</p>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group"
                           ng-class="{ 'has-error' : applianceForm.age.$invalid && (invoiceFormSubmitted || applianceForm.age.$touched) }">
                        <label class="control-label required"
                               ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_age\' }}' }}">Age in years</label>
                        <input type="number"
                               ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_age\' }}' }}"
                               name="age"
                               placeholder="Type the value"
                               class="form-control"
                               ng-model="appliance.age"
                               required>
                        <p ng-show="applianceForm.age.$invalid && (invoiceFormSubmitted || applianceForm.age.$touched)" class="help-block">Please, type the age.</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group"
                           ng-class="{ 'has-error' : applianceForm.color.$invalid && (invoiceFormSubmitted || applianceForm.color.$touched) }">
                        <label class="control-label required"
                               ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_color\' }}' }}">Color</label>
                        <select
                                ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_color\' }}' }}"
                                name="color"
                                class="form-control"
                                ng-model="appliance.color"
                                required>
                          <option value="" selected="selected">Choose the color</option>
                          <option value="White">White</option>
                          <option value="Stainless" style="background-color: #e0dfdb">Stainless</option>
                          <option value="Grey" style="background-color: #808080; color: #fff">Grey</option>
                          <option value="Wood panels" style="background-color: #966F33; color: #fff">Wood panels</option>
                          <option value="Blue" style="background-color: #00f; color: #fff">Blue</option>
                          <option value="Green" style="background-color: #008000; color: #fff">Green</option>
                          <option value="Red" style="background-color: #f00; color: #fff">Red</option>
                          <option value="Black" style="background-color: #000; color: #fff">Black</option>
                          <option value="other" style="font-style: italic">Other</option>
                        </select>
                        <p ng-show="applianceForm.color.$invalid && (invoiceFormSubmitted || applianceForm.color.$touched)" class="help-block">Please, choose the color.</p>
                      </div>
                      <div class="form-group"
                           ng-class="{ 'has-error' : applianceForm.color_other.$invalid && (invoiceFormSubmitted || applianceForm.color_other.$touched) }"
                           ng-if="appliance.color === 'other'">
                        <input
                                type="text"
                                name="color_other"
                                placeholder="Type the color"
                                class="form-control"
                                ng-model="appliance.color_other"
                                required>
                        <p ng-show="applianceForm.color_other.$invalid && (invoiceFormSubmitted || applianceForm.color_other.$touched)" class="help-block">Please, type the color.</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.condition.$invalid && (invoiceFormSubmitted || applianceForm.condition.$touched) }">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_condition\' }}' }}">Condition</label>
                    <select
                            ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_condition\' }}' }}"
                            name="condition"
                            class="form-control"
                            ng-model="appliance.condition"
                            required>
                      <option value="" selected="selected">Choose condition</option>
                      <option value="Good">Good</option>
                      <option value="Fair">Fair</option>
                      <option value="Poor">Poor</option>
                    </select>
                    <p ng-show="applianceForm.condition.$invalid && (invoiceFormSubmitted || applianceForm.condition.$touched)" class="help-block">Please,chosse the condition.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.size.$invalid && (invoiceFormSubmitted || applianceForm.size.$touched) }"
                       ng-if="['Refrigerator', 'Dryer'].indexOf(appliance.appliance) === -1">
                    <label class="control-label required"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_size\' }}' }}">Size</label>
                    <select ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_size\' }}' }}"
                            name="size"
                            class="form-control"
                            ng-model="appliance.size"
                            required>
                      <option value="">Choose size</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="27">27</option>
                      <option value="30">30</option>
                      <option value="36">36</option>
                      <option value="48">48</option>
                      <option value="64">64</option>
                      <option value="other" style="font-style: italic;">Other</option>
                    </select>
                    <p ng-show="applianceForm.size.$invalid && (invoiceFormSubmitted || applianceForm.size.$touched)" class="help-block">Please, choose the size.</p>
                  </div>

                  <div class="form-group"
                       ng-class="{ 'has-error' : applianceForm.size_other.$invalid && (invoiceFormSubmitted || applianceForm.size_other.$touched) }"
                       ng-if="appliance.size === 'other'">
                    <input
                            type="number"
                            {#id="invoice_appliances_0_size_other" #}
                            name="size_other"
                            placeholder="Type the size"
                            class="form-control"
                            ng-model="appliance.size_other"
                            required>
                    <p ng-show="applianceForm.size_other.$invalid && (invoiceFormSubmitted || applianceForm.size_other.$touched)" class="help-block">Please, type the size.</p>
                  </div>

                  <div class="form-group"
                       ng-if="['Refrigerator', 'Microwave', 'Dryer', 'Washer', 'Dishwasher'].indexOf(appliance.appliance) === -1">
                    <label class="control-label"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_fuel\' }}' }}">Fuel</label>
                    <select ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_fuel\' }}' }}"
                            name="fuel"
                            class="form-control"
                            ng-model="appliance.fuel">
                      <option value="">Choose the type</option>
                      <option value="gas">Natural gas</option>
                      <option value="electric">Electric</option>
                      <option value="dual">Dual</option>
                    </select>
                    {#<p ng-show="applianceForm.fuel.$invalid && (invoiceFormSubmitted || applianceForm.fuel.$touched)" class="help-block">Please, choose the fuel.</p>#}
                  </div>

                  <div class="form-group"
                       ng-if="['Refrigerator', 'Microwave', 'Washer', 'Oven'].indexOf(appliance.appliance) === -1">
                    <label class="control-label"
                           ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_burners\' }}' }}">Burners</label>
                    <input type="number"
                           ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_burners\' }}' }}"
                           name="burners"
                           placeholder="Type the value"
                           class="form-control"
                           ng-model="appliance.burners">
                    {#<p ng-show="applianceForm.fuel.$invalid && (invoiceFormSubmitted || applianceForm.fuel.$touched)" class="help-block">Please, choose the fuel.</p>#}
                  </div>

                  <div class="row"
                       ng-if="['Refrigerator', 'Microwave', 'Oven', 'Range'].indexOf(appliance.appliance) === -1">
                    <div class="col-xs-6">
                      <div class="form-group"
                           ng-class="{ 'has-error' : applianceForm.cycles.$invalid && (invoiceFormSubmitted || applianceForm.cycles.$touched) }"
                           {#ng-if="['Refrigerator', 'Microwave', 'Oven', 'Range'].indexOf(appliance.appliance) === -1"#}
                      >
                        <label class="control-label"
                               ng-class="{required: appliance.appliance === 'Dishwasher'}"
                               ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_cycles\' }}' }}">Cycles</label>
                        <input type="number"
                               ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_cycles\' }}' }}"
                               name="cycles"
                               placeholder="Type the value"
                               class="form-control"
                               ng-required="appliance.appliance === 'Dishwasher'"
                               ng-model="appliance.cycles">
                          <p ng-show="applianceForm.cycles.$invalid && (invoiceFormSubmitted || applianceForm.cycles.$touched)" class="help-block">Please, type the cycles.</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group"
                           ng-class="{ 'has-error' : applianceForm.options.$invalid && (invoiceFormSubmitted || applianceForm.options.$touched) }"
                           {#ng-if="['Refrigerator', 'Microwave', 'Oven', 'Range'].indexOf(appliance.appliance) === -1"#}
                      >
                        <label class="control-label"
                               ng-class="{required: appliance.appliance === 'Dishwasher'}"
                               ng-attr-for="{{ '{{ \'invoice_appliances_\'+$index+\'_options\' }}' }}">Options</label>
                        <input type="number"
                               ng-attr-id="{{ '{{ \'invoice_appliances_\'+$index+\'_options\' }}' }}"
                               name="options"
                               placeholder="Type the value"
                               class="form-control"
                               ng-required="appliance.appliance === 'Dishwasher'"
                               ng-model="appliance.options">
                        <p ng-show="applianceForm.options.$invalid && (invoiceFormSubmitted || applianceForm.options.$touched)" class="help-block">Please, type the options.</p>

                      </div>
                    </div>
                  </div>
                </ng-form>

                <div class="form-group" ng-if="invoice.appliances.length > 1 && !$first">
                  <button class="btn btn-warning"
                  ng-click="invoice.removeAppliance(appliance)">
                    <span class="glyphicon glyphicon-remove"></span> Remove the appliance
                  </button>
                </div>
                <hr>
              </div>


            </div>

            <div class="form-group">
              <button type="button"
                      class="btn btn-primary"
                      ng-click="invoice.appliances.push({})"
              >
                <span class="glyphicon glyphicon-plus"></span> Add another appliance</button>
            </div>

            <div
                    class="form-group"
                 ng-class="{ 'has-error' : invoiceForm.address.$invalid && (invoiceFormSubmitted || invoiceForm.address.$touched) }">
              <label class="control-label required" for="invoice_address">Customer address</label>
              <input
                      type="text"
                      id="invoice_address"
                      name="address"
                      required="required"
                      placeholder="Type the address"
                      class="form-control"
                      autocomplete="off"
                      ng-model="invoice.address"
              />
              <p ng-show="invoiceForm.address.$invalid && (invoiceFormSubmitted || invoiceForm.address.$touched)" class="help-block">Address is required.</p>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : invoiceForm.region.$invalid && (invoiceFormSubmitted || invoiceForm.amount_due.$touched)}">
              <label class="control-label required">Region</label>
              <div id="invoice_region">
                <div class="radio-inline">
                  <label class="required">
                    <input type="radio" id="invoice_region_0" name="region" required="required" value="CA" ng-model="invoice.region"/>
                    California
                  </label>
                </div>
                <div class="radio-inline">
                  <label class="required">
                    <input type="radio" id="invoice_region_1" name="region" required="required" value="DC" ng-model="invoice.region"/>
                    District of Columbia
                  </label>
                </div>
              </div>
              <p ng-show="invoiceForm.region.$invalid" class="help-block">Region is required.</p></div>
            <div class="form-group" ng-class="{ 'has-error' : invoiceForm.amount_due.$invalid && (invoiceFormSubmitted || invoiceForm.amount_due.$touched)}">
              <label class="control-label required" for="invoice_amount_due">Amount due</label>
              <select
                      id="invoice_amount_due"
                      required="required"
                      class="form-control"
                      name="amount_due"
                      ng-model="invoice.amount_due"
              >
                <option value="" selected="selected">Choose the amount</option>
                <option value="0">$0</option>
                <option value="25">$25.00</option>
                <option value="60">$60.00</option>
                <option value="65">$65.00</option>
                <option value="75">$75.00</option>
                <option value="100">$100.00</option>
                <option value="125">$125.00</option>
                <option value="other"  style="font-style: italic;">Other</option>
              </select>
              <p ng-show="invoiceForm.amount_due.$invalid && (invoiceFormSubmitted || invoiceForm.amount_due.$touched)" class="help-block">Amount due is required.</p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : invoiceForm.amount_due_other.$invalid && (invoiceFormSubmitted || invoiceForm.amount_due_other.$touched)}"
                 ng-if="invoice.amount_due === 'other'">
              <div class="input-group">
                <span class="input-group-addon">$ </span>
                <input
                        type="number"
                        id="invoice_amount_due_other"
                        name="amount_due_other"
                        placeholder="Type the value"
                        class="form-control"
                        ng-model="invoice.amount_due_other"
                        autocomplete="off"
                        required
                />
              </div>
              <p ng-show="invoiceForm.amount_due_other.$invalid && (invoiceFormSubmitted || invoiceForm.amount_due_other.$touched)" class="help-block">Amount due is required.</p>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : invoiceForm.payment_method.$invalid && (invoiceFormSubmitted || invoiceForm.payment_method.$touched)}"
                 ng-if="invoice.amount_due != '0'">
              <label class="control-label required" for="invoice_payment_method">Payment</label>
              <select
                      id="invoice_payment_method"
                      name="payment_method"
                      required="required"
                      class="form-control"
                      ng-model="invoice.payment_method">
                <option value="" selected="selected">Choose the value</option>
                <option value="Credit card">Credit card</option>
                <option value="Cash">Cash</option>
                <option value="Check">Check</option>
                <option value="Not collected">Not collected</option>
              </select>
              <p ng-show="invoiceForm.payment_method.$invalid && (invoiceFormSubmitted || invoiceForm.payment_method.$touched)" class="help-block">Payment is required.</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : invoiceForm.check_number.$invalid && (invoiceFormSubmitted || invoiceForm.check_number.$touched)}"
                 ng-if="invoice.payment_method === 'Check' && invoice.amount_due != '0'">
              <label class="control-label required" for="invoice_check_number">Check number</label>
              <input
                      type="text"
                      id="invoice_check_number"
                      name="check_number"
                      placeholder="Type the check number"
                      class="form-control"
                      ng-model="invoice.check_number"
                      autocomplete="off"
                      required/>
              <p ng-show="invoiceForm.check_number.$invalid && (invoiceFormSubmitted || invoiceForm.check_number.$touched)" class="help-block">Check number is required.</p>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input
                          type="checkbox"
                          id="invoice_add_estimate"
                          ng-model="has_estimate"
                          value="1"
                  />Add estimate</label>
              </div>
            </div>

            <div class="form-group"
                 {#ng-class="{ 'has-error' : invoiceForm.estimate.$invalid && (invoiceFormSubmitted || invoiceForm.estimate.$touched)}"#}
                 ng-if="has_estimate">
              <label class="control-label {#required#}" for="invoice_estimate">Estimate</label>
              <div class="input-group">
                <span class="input-group-addon">$ </span>
                <input
                        type="number"
                        id="invoice_estimate"
                        name="estimate"
                        placeholder="Type the value"
                        class="form-control"
                        autocomplete="off"
                        ng-model="invoice.estimate"
                        {#required#}/>
              </div>
              {#<p ng-show="invoiceForm.estimate.$invalid && (invoiceFormSubmitted || invoiceForm.estimate.$touched)" class="help-block">Estimate is required.</p>#}
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error' : invoiceForm.first_name.$invalid && (invoiceFormSubmitted || invoiceForm.first_name.$touched)}">
                  <label class="control-label required" for="invoice_first_name">Customer first name</label>
                  <input
                          type="text"
                          id="invoice_first_name"
                          name="first_name"
                          required="required"
                          placeholder="Type the first name"
                          class="form-control"
                          autocomplete="off"
                          ng-model="invoice.first_name"/>
                  <p ng-show="invoiceForm.first_name.$invalid && (invoiceFormSubmitted || invoiceForm.first_name.$touched)" class="help-block">First name is required.</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error' : invoiceForm.last_name.$invalid && (invoiceFormSubmitted || invoiceForm.last_name.$touched)}">
                  <label class="control-label required" for="invoice_last_name">Customer last name</label>
                  <input
                          type="text"
                          id="invoice_last_name"
                          name="last_name"
                          required="required"
                          placeholder="Type the last name"
                          class="form-control"
                          autocomplete="off"
                          ng-model="invoice.last_name"/>
                  <p ng-show="invoiceForm.last_name.$invalid && (invoiceFormSubmitted || invoiceForm.last_name.$touched)" class="help-block">Last name is required.</p>
                </div>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : invoiceForm.email.$invalid && (invoiceFormSubmitted || invoiceForm.email.$touched)}">
              <label class="control-label required" for="invoice_email">Customer email</label>
              <input
                      type="email"
                      id="invoice_email"
                      name="email"
                      required="required"
                      placeholder="Type the email"
                      autocomplete="off"
                      class="form-control"
                      ng-model="invoice.email"/>
              <p ng-show="invoiceForm.email.$invalid && (invoiceFormSubmitted || invoiceForm.email.$touched) && invoiceForm.email.$error.required" class="help-block">Email is required.</p>
              <p ng-show="invoiceForm.email.$invalid && (invoiceFormSubmitted || invoiceForm.email.$touched) && invoiceForm.email.$error.email" class="help-block">Email is not valid.</p>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <button type="submit" class="btn btn-primary btn-block" ng-click="invoiceFormSubmitted = true">Next ></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row"
           ng-show="step.index == 2">
        <div class="col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-3">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-center">#<span ng-bind="number"></span> <button class="btn btn-default" ng-click="refreshNumber()">Refresh</button></h1>
            </div>
          </div>

          <div ng-repeat="appliance in invoice.appliances">
            <div class="row">
              <div class="col-xs-12"><h3 class="text-center" ng-if="invoice.appliances.length > 1" ng-bind="'Appliance #'+($index+1)"></h3></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Appliance</div>
                  <div class="sign-item__value" ng-bind="appliance.appliance == 'other' ?  appliance.appliance_other: appliance.appliance"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="sign-item">
                  <div class="sign-item__label">Age in Years</div>
                  <div class="sign-item__value" ng-bind="appliance.age"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="sign-item">
                  <div class="sign-item__label">Color</div>
                  <div class="sign-item__value" ng-bind="appliance.color == 'other' ?  appliance.color_other: appliance.color"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-if="appliance.appliance == 'Refrigerator'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Ice maker</div>
                    <div class="sign-item__value" ng-bind="appliance.refrigerator_ice_maker"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Water/ice dispenser</div>
                    <div class="sign-item__value" ng-bind="appliance.refrigerator_ice_dispenser"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Type</div>
                    <div class="sign-item__value" ng-bind="appliance.refrigerator_type"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Location</div>
                    <div class="sign-item__value" ng-bind="appliance.refrigerator_location == 'other' ?  appliance.refrigerator_location_other : appliance.refrigerator_location"></div>
                  </div>
                </div>
              </div>

              <div ng-if="appliance.appliance == 'Dryer'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Location</div>
                    <div class="sign-item__value" ng-bind="appliance.dryer_location == 'other' ?  appliance.dryer_location_other : appliance.dryer_location"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Fuel</div>
                    <div class="sign-item__value" ng-bind="appliance.dryer_fuel"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Type</div>
                    <div class="sign-item__value" ng-bind="appliance.dryer_type == 'other' ?  appliance.dryer_type_other : appliance.dryer_type"></div>
                  </div>
                </div>
              </div>

              <div ng-if="appliance.appliance == 'Washer'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Location</div>
                    <div class="sign-item__value" ng-bind="appliance.washer_location == 'other' ?  appliance.washer_location_other : appliance.washer_location"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Load type</div>
                    <div class="sign-item__value" ng-bind="appliance.washer_load_type"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Type</div>
                    <div class="sign-item__value" ng-bind="appliance.washer_type"></div>
                  </div>
                </div>
              </div>

              <div ng-if="appliance.appliance == 'Dishwasher'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Control location</div>
                    <div class="sign-item__value" ng-bind="appliance.dishwasher_control_location"></div>
                  </div>
                </div>
              </div>

              <div ng-if="appliance.appliance == 'Oven'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Type</div>
                    <div class="sign-item__value" ng-bind="appliance.oven_type"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Convection</div>
                    <div class="sign-item__value" ng-bind="appliance.oven_convection"></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3" ng-if="appliance.appliance == 'Microwave'">
                <div class="sign-item">
                  <div class="sign-item__label">Type</div>
                  <div class="sign-item__value" ng-bind="appliance.microwave_type"></div>
                </div>
              </div>

              <div ng-if="appliance.appliance == 'Range'">
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Type</div>
                    <div class="sign-item__value" ng-bind="appliance.range_type"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Burner type</div>
                    <div class="sign-item__value" ng-bind="appliance.burner_type"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Convection</div>
                    <div class="sign-item__value" ng-bind="appliance.range_convection"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="sign-item">
                    <div class="sign-item__label">Self clean</div>
                    <div class="sign-item__value" ng-bind="appliance.range_self_clean"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Brand</div>
                  <div class="sign-item__value" ng-bind="appliance.brand == 'other' ?  appliance.brand_other : appliance.brand"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="sign-item">
                  <div class="sign-item__label">Condition</div>
                  <div class="sign-item__value" ng-bind="appliance.condition"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" ng-if="appliance.size">
                <div class="sign-item">
                  <div class="sign-item__label">Size</div>
                  <div class="sign-item__value" ng-bind="(appliance.size == 'other' ?  appliance.size_other : appliance.size)+'&quot;'"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Model</div>
                  <div class="sign-item__value" ng-bind="appliance.model"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" ng-if="appliance.fuel">
                <div class="sign-item">
                  <div class="sign-item__label">Fuel</div>
                  <div class="sign-item__value" ng-bind="appliance.fuel"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" ng-if="appliance.burners">
                <div class="sign-item">
                  <div class="sign-item__label">Burners</div>
                  <div class="sign-item__value" ng-bind="appliance.burners"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Serial number</div>
                  <div class="sign-item__value" ng-bind="appliance.serial_number"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" ng-if="appliance.cycles">
                <div class="sign-item">
                  <div class="sign-item__label">Cycles</div>
                  <div class="sign-item__value" ng-bind="appliance.cycles"></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3" ng-if="appliance.options">
                <div class="sign-item">
                  <div class="sign-item__label">Options</div>
                  <div class="sign-item__value" ng-bind="appliance.options"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Customer complaint</div>
                  <div class="sign-item__value" ng-bind="appliance.customer_complaint"></div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="sign-item">
                  <div class="sign-item__label">Tech recommendation</div>
                  <div class="sign-item__value" ng-bind="appliance.tech_recommendation"></div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div class="row">
            <div class="col-xs-12"><h3 class="text-center">Customer</h3></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <div class="sign-item">
                <div class="sign-item__label">Customer first name</div>
                <div class="sign-item__value" ng-bind="invoice.first_name"></div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="sign-item">
                <div class="sign-item__label">Customer last name</div>
                <div class="sign-item__value" ng-bind="invoice.last_name"></div>
              </div>
            </div>
                <div class="col-xs-6 col-sm-2" ng-if="invoice.amount_due != '0'">
                  <div class="sign-item">
                    <div class="sign-item__label">Payment</div>
                    <div class="sign-item__value"><span ng-bind="invoice.payment_method"></span><span ng-if="invoice.payment_method == 'Check'" ng-bind="', '+invoice.check_number"></span></div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-2" ng-if="invoice.estimate">
                  <div class="sign-item">
                    <div class="sign-item__label">Estimate</div>
                    <div class="sign-item__value" ng-bind="'$'+invoice.estimate"></div>
                  </div>
                </div>
            <div class="col-xs-6 col-sm-2">
              <div class="sign-item">
                <div class="sign-item__label">Amount due</div>
                <div class="sign-item__value" ng-bind="'$'+invoice.amount_due == 'other' ?  invoice.amount_due_other : invoice.amount_due"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="sign-item">
                <div class="sign-item__label">Customer address</div>
                <div class="sign-item__value" ng-bind="invoice.address+', '+invoice.region"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="sign-item">
                <div class="sign-item__label">Customer email</div>
                <div class="sign-item__value" ng-bind="invoice.email"></div>
              </div>
            </div>
          </div>

          <div class="form-group signature-container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <small class="control-label required">Customer signature</small>
                {#<div class="clearfix">#}
                  {#<small class="pull-left text-muted" ng-click="invoice.signature.clear()">clear</small>#}
                  <j-signature-directive></j-signature-directive>
                  <div class="clearfix">
                    <small class="pull-left text-muted" id="signature-clear">clear</small>

                    <small class="pull-right text-muted">
                      <div class="checkbox">
                        <label>
                          <input id="wont-sign" name="wont_sign"  type="checkbox" value="1">
                          customer won't sign
                        </label>
                      </div>

                    </small>
                  </div>
                  <style>
                    .signature-container canvas {
                      border: 1px solid #888888 !important;
                      border-radius: 5px;
                    }
                  </style>
                {#</div>#}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
                <button class="btn btn-default btn-block" ng-click="step.prev()">< Back</button>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <button class="btn btn-primary btn-block" ng-click="getPdf()">Get PDF</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-3">
                <div class="alert alert-danger fade in" ng-if="sendMessage">
                  {#<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
                  <div ng-bind="sendMessage"></div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="sendPdf()" ng-disabled="sending || sent" ng-bind="sending ? 'Sending...' : (sent ? 'Sent' : 'Send')"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
  <script src="{{ asset('bower_components/jSignature/libs/jSignature.min.js') }}"></script>
  <script src="{{ asset('bower_components/pdfmake/build/pdfmake.min.js') }}"></script>
  {#<script src="bower_components/angular-route/angular-route.js"></script>#}
  {#<script src="bower_components/angular-animate/angular-animate.min.js"></script>#}
  {#<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>#}
  {#<script src="bower_components/angular-ui-mask/dist/mask.min.js"></script>#}
  {#<script src="{{ asset('bower_components/ladda/dist/spin.min.js') }}"></script>#}
  {#<script src="{{ asset('bower_components/ladda/dist/ladda.min.js') }}"></script>#}
  {#<script src="{{ asset('bower_components/angular-ladda/dist/angular-ladda.min.js') }}"></script>#}
  <script src="{{ asset('components/invoices/app.js') }}"></script>
  <script src="{{ asset('components/invoices/vfs_fonts.js') }}"></script>
</body>
</html>
