{% extends "InvoiceBundle:Default:layout.html.twig" %}

{% block content %}
        <div class="container">
                <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                <table class="table table-condensed">
                                       {# <thead>
                                        <tr>
                                                <th>Invoice</th>
                                                <th>Created</th>
                                        </tr>
                                        </thead>#}
                                        <tbody>
                                {% for invoice in invoices %}

                                            <tr>
                                                    <td>
                                                            <a href="{{ asset(path('invoice_view_pdf', {'slug': invoice.slug})) }}" target="_blank">{{ invoice.name }}</a>
                                                    </td>
                                                    <td>
                                                            {{ invoice.modified|date('m/d/Y') }}
                                                    </td>
                                            </tr>
                                            </tbody>

                                {% endfor %}
                                </table>
                        </div>
                </div>
        </div>
{% endblock %}
