{% extends "InvoiceBundle:Default:layout.html.twig" %}

{% block content %}
        <div class="container">

            {% for appliance in invoice.appliances %}
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Appliance</div>
                                    <div class="sign-item__value">{{ appliance.appliance == 'other' ?  appliance.appliance_other : choices['appliance'][appliance.appliance] }}</div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Age in Years</div>
                                    <div class="sign-item__value">{{ appliance.age }}</div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Color</div>
                                    <div class="sign-item__value">{{ appliance.color == 'other' ?  appliance.color_other : choices['color'][appliance.color] }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if appliance.appliance == 'refrigerator' %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Ice maker</div>
                                    <div class="sign-item__value">{{ choices['yesno'][appliance.refrigerator_ice_maker] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Water/ice dispenser</div>
                                    <div class="sign-item__value">{{ choices['yesno'][appliance.refrigerator_ice_dispenser] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ choices['refrigerator_type'][appliance.refrigerator_type] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Location</div>
                                    <div class="sign-item__value">{{ appliance.refrigerator_location == 'other' ?  appliance.refrigerator_location_other : choices['refrigerator_location'][appliance.refrigerator_location] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.appliance == 'dryer' %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Location</div>
                                    <div class="sign-item__value">{{ appliance.dryer_location == 'other' ?  appliance.dryer_location_other : choices['dryer_location'][appliance.dryer_location] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Fuel</div>
                                    <div class="sign-item__value">{{ choices['dryer_fuel'][appliance.dryer_fuel] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ appliance.dryer_type == 'other' ?  appliance.dryer_type_other : choices['dryer_type'][appliance.dryer_type] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.appliance == 'washer' %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Location</div>
                                    <div class="sign-item__value">{{ appliance.washer_location == 'other' ?  appliance.washer_location_other : choices['washer_location'][appliance.washer_location] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Load type</div>
                                    <div class="sign-item__value">{{ choices['washer_load_type'][appliance.washer_load_type] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ choices['washer_type'][appliance.washer_type] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.appliance == 'dishwasher' %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Control location</div>
                                    <div class="sign-item__value">{{ choices['dishwasher_control_location'][appliance.dishwasher_control_location] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.oven_type is not empty %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ choices['oven_type'][appliance.oven_type] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.oven_convection is not empty %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Convection</div>
                                    <div class="sign-item__value">{{ choices['yesno'][appliance.oven_convection] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.microwave_type is not empty %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ choices['microwave_type'][appliance.microwave_type] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.range_type is not empty %}
                            <div class="col-sm-3">
                                <div class="sign-item">
                                    <div class="sign-item__label">Type</div>
                                    <div class="sign-item__value">{{ choices['range_type'][appliance.range_type] }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if appliance.burner_type is not empty %}
                                <div class="col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Burner type</div>
                                        <div class="sign-item__value">{{ choices['burner_type'][appliance.burner_type] }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if appliance.range_convection is not empty %}
                                <div class="col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Convection</div>
                                        <div class="sign-item__value">{{ choices['yesno'][appliance.range_convection] }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if appliance.range_self_clean is not empty %}
                                <div class="col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Self clean</div>
                                        <div class="sign-item__value">{{ choices['yesno'][appliance.range_self_clean] }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Brand</div>
                                    <div class="sign-item__value">{{ appliance.brand == 'other' ?  appliance.brand_other : choices['brand'][appliance.brand] }}</div>
                                </div>
                            </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Condition</div>
                                        <div class="sign-item__value">{{ choices['condition'][appliance.condition] }}</div>
                                    </div>
                                </div>
                            {% if appliance.size is not empty %}
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Size</div>
                                        <div class="sign-item__value">{{ appliance.size == 'other' ?  appliance.size_other : appliance.size }}"</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Model</div>
                                    <div class="sign-item__value">{{ appliance.model|upper }}</div>
                                </div>
                            </div>
                            {% if appliance.fuel is not empty %}
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Fuel</div>
                                        <div class="sign-item__value">{{ choices['fuel'][appliance.fuel] }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if appliance.burners is not empty %}
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Burners</div>
                                        <div class="sign-item__value">{{ appliance.burners }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Serial number</div>
                                    <div class="sign-item__value">{{ appliance.serial_number|upper }}</div>
                                </div>
                            </div>
                            {% if appliance.cycles is not empty %}
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Cycles</div>
                                        <div class="sign-item__value">{{ appliance.cycles }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if appliance.options is not empty %}
                                <div class="col-xs-6 col-sm-3">
                                    <div class="sign-item">
                                        <div class="sign-item__label">Options</div>
                                        <div class="sign-item__value">{{ appliance.options }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Customer complaint</div>
                                    <div class="sign-item__value">{{ appliance.customer_complaint }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="sign-item">
                                    <div class="sign-item__label">Tech recommendation</div>
                                    <div class="sign-item__value">{{ appliance.tech_recommendation }}</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

            {% endfor %}
            
            <div class="row">
                <div class="col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-3">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="sign-item">
                                <div class="sign-item__label">Customer first name</div>
                                <div class="sign-item__value">{{ invoice.first_name }}</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="sign-item">
                                <div class="sign-item__label">Customer last name</div>
                                <div class="sign-item__value">{{ invoice.last_name }}</div>
                            </div>
                        </div>
                        {% if invoice.amount_due != '$0' %}
                        <div class="col-xs-6 col-sm-2">
                            <div class="sign-item">
                                <div class="sign-item__label">Payment</div>
                                <div class="sign-item__value">{{ choices['payment_method'][invoice.payment_method] }}{% if invoice.payment_method == 'check' %}, {{ invoice.check_number }}{% endif %}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if invoice.estimate is not empty %}
                            <div class="col-xs-6 col-sm-2">
                                <div class="sign-item">
                                    <div class="sign-item__label">Estimate</div>
                                    <div class="sign-item__value">${{ invoice.estimate|number_format(2, '.', '') }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-xs-6 col-sm-2">
                            <div class="sign-item">
                                <div class="sign-item__label">Amount due</div>
                                <div class="sign-item__value">{{ invoice.amount_due == 'other' ?  invoice.amount_due_other : invoice.amount_due }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-sm-offset-2 col-md-7 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="sign-item">
                                <div class="sign-item__label">Customer address</div>
                                <div class="sign-item__value">{{ invoice.address }}, {{ invoice.region }}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="sign-item">
                                <div class="sign-item__label">Customer email</div>
                                <div class="sign-item__value">{{ invoice.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form action="{{ path('invoice_sign') }}" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <small class="control-label required">Customer signature</small>
                            <div id="signature" class="form-control"></div>
                            <div class="clearfix">
                                <small class="pull-left text-muted" id="signature-clear">clear</small>

                                <small class="pull-right text-muted">
                                    <div class="checkbox">
                                        <label>
                                            <input id="wont-sign" name="wont_sign"  type="checkbox" value="1">
                                            customer won't sign
                                        </label>
                                    </div>

                                </small>
                            </div>
                            <input type="hidden" name="signature" id="signature-value" value="" />

                            <!-- you load jquery somewhere before jSignature ... -->
                            <script src="{{ asset('bower_components/jSignature/libs/jSignature.min.js') }}"></script>
                            <script>
                                $(document).ready(function () {
                                    $("#signature").jSignature({
                                        sizeRatio: 2
                                    });
                                    $("#signature").on('change', function(e) {
                                        var datapair = $("#signature").jSignature("getData", "svgbase64")
//                                        var i = new Image();
//                                        i.src = "data:" + datapair[0] + "," + datapair[1]
//                                        i.height = '50';

//                                        $("#sign-preview").empty().append($(i));
                                        $('#signature-value').val(datapair)
                                    });

                                    $("#signature").on('mousedown', function(e) {
                                        $('#wont-sign').prop('checked', false)
                                    });
                                    $('#wont-sign').on('change', function() {
//                                        if($('#wont-sign').is(':checked')) {
                                            $("#signature").jSignature('clear')
//                                        }
                                    });

                                    $("#signature-clear").on('click', function () {
                                        $("#signature").jSignature('clear')
                                    });
                                })
                            </script>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
                            <a href="/invoices" class="btn btn-block">Back</a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
