{% extends "InvoiceBundle:Default:layout.html.twig" %}

{% block content %}
        <div class="container">
            <p class="text-center">Thank you! Your invoice has been sent to your email.</p>
            <p class="text-center"><a href="{{ path('invoice_homepage') }}" class="btn btn-default">Back</a>
                {% if(slug) %}
                    <a href="{{ asset(path('invoice_view_pdf', {'slug': slug})) }}" class="btn btn-primary">View PDF</a>
                {% endif %}
            </p>
        </div>
{% endblock %}
