<div class="container">
    <div id="letter">
        <div id="header">
            <div class="header-text">
                <div class="header-title">
                    A to Z Appliances
                </div>
                <div class="header-contacts">
                    PO BOX 500202, San Diego, CA 92150<br />
                    License number: A47448<br />
                    <div class="invoice-number">{{ number }}</div><br />
                    Issued: {{ 'now'|date('m/d/Y') }}
                </div>
            </div>

            <div class="header-info">
                <div class="header-ask">Ask us anything online!</div>
                <div class="header-line"></div>
                <div class="header-logo">a-zappliances.com</div>
                <div class="chat">Customer support chat</div>
                <div class="header-bottom">the fastest way to get assissted</div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div id="content">
            <div class="pdf-section">
                <div class="pdf-section__header">
                    Appliance details
                </div>
                <div class="pdf-section__content">
                    <div class="pdf-item">
                        <div class="pdf-item__label">Appliance:</div>
                        <div class="pdf-item__value">{{ appliance.appliance == 'other' ?  appliance.appliance_other : choices['appliance'][appliance.appliance] }}</div>
                    </div>
                    <div class="pdf-item">
                        <div class="pdf-item__label">Age (years):</div>
                        <div class="pdf-item__value">{{ appliance.age }}</div>
                    </div>
                    {% if appliance.size is not empty %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Size:</div>
                            <div class="pdf-item__value">{{ appliance.size == 'other' ?  appliance.size_other : appliance.size }}"</div>
                        </div>
                    {% endif %}


                    {% if appliance.appliance == 'refrigerator' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type:</div>
                            <div class="pdf-item__value">{{ choices['refrigerator_type'][appliance.refrigerator_type] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Ice maker:</div>
                            <div class="pdf-item__value">{{ choices['yesno'][appliance.refrigerator_ice_maker] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Water/ice dispenser:</div>
                            <div class="pdf-item__value">{{ choices['yesno'][appliance.refrigerator_ice_dispenser] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Location:</div>
                            <div class="pdf-item__value">{{ appliance.refrigerator_location == 'other' ?  appliance.refrigerator_location_other : choices['refrigerator_location'][appliance.refrigerator_location] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'dryer' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Location</div>
                            <div class="pdf-item__value">{{ appliance.dryer_location == 'other' ?  appliance.dryer_location_other : choices['dryer_location'][appliance.dryer_location] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Fuel</div>
                            <div class="pdf-item__value">{{ choices['dryer_fuel'][appliance.dryer_fuel] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type</div>
                            <div class="pdf-item__value">{{ appliance.dryer_type == 'other' ?  appliance.dryer_type_other : choices['dryer_type'][appliance.dryer_type] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'washer' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Location:</div>
                            <div class="pdf-item__value">{{ appliance.washer_location == 'other' ?  appliance.washer_location_other : choices['washer_location'][appliance.washer_location] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Load type</div>
                            <div class="pdf-item__value">{{ choices['washer_load_type'][appliance.washer_load_type] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type</div>
                            <div class="pdf-item__value">{{ choices['washer_type'][appliance.washer_type] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'dishwasher' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Control location</div>
                            <div class="pdf-item__value">{{ choices['dishwasher_control_location'][appliance.dishwasher_control_location] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'oven' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type:</div>
                            <div class="pdf-item__value">{{ choices['oven_type'][appliance.oven_type] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Convection:</div>
                            <div class="pdf-item__value">{{ choices['yesno'][appliance.oven_convection] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'microwave' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type:</div>
                            <div class="pdf-item__value">{{ choices['microwave_type'][appliance.microwave_type] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.appliance == 'range' %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Type:</div>
                            <div class="pdf-item__value">{{ choices['range_type'][appliance.range_type] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Burner type:</div>
                            <div class="pdf-item__value">{{ choices['burner_type'][appliance.burner_type] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Convection:</div>
                            <div class="pdf-item__value">{{ choices['yesno'][appliance.range_convection] }}</div>
                        </div>
                        <div class="pdf-item">
                            <div class="pdf-item__label">Self clean:</div>
                            <div class="pdf-item__value">{{ choices['yesno'][appliance.range_self_clean] }}</div>
                        </div>
                    {% endif %}

                    <div class="pdf-item">
                        <div class="pdf-item__label">Brand:</div>
                        <div class="pdf-item__value">{{ appliance.brand == 'other' ?  appliance.brand_other : choices['brand'][appliance.brand] }}</div>
                    </div>
                    <div class="pdf-item">
                        <div class="pdf-item__label">Color:</div>
                        <div class="pdf-item__value">{{ appliance.color == 'other' ?  appliance.color_other : choices['color'][appliance.color] }}</div>
                    </div>
                    {% if appliance.burners is not empty %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Burners:</div>
                            <div class="pdf-item__value">{{ appliance.burners == 0 ? 'no' : appliance.burners }}</div>
                        </div>
                    {% endif %}
                    <div class="pdf-item">
                        <div class="pdf-item__label">Model:</div>
                        <div class="pdf-item__value">{{ appliance.model|upper }}</div>
                    </div>
                    {#{% if appliance.condition is not empty %}#}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Condition:</div>
                            <div class="pdf-item__value">{{ choices['condition'][appliance.condition] }}</div>
                        </div>
                    {#{% endif %}#}
                    {% if appliance.cycles is not empty %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Cycles:</div>
                            <div class="pdf-item__value">{{ appliance.cycles == 0 ? 'no' : appliance.cycles }}</div>
                        </div>
                    {% endif %}
                    <div class="pdf-item">
                        <div class="pdf-item__label">Serial:</div>
                        <div class="pdf-item__value">{{ appliance.serial_number|upper }}</div>
                    </div>
                    {% if appliance.fuel is not empty %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Fuel:</div>
                            <div class="pdf-item__value">{{ choices['fuel'][appliance.fuel] }}</div>
                        </div>
                    {% endif %}
                    {% if appliance.options is not empty %}
                        <div class="pdf-item">
                            <div class="pdf-item__label">Options:</div>
                            <div class="pdf-item__value">{{ appliance.options == 0 ? 'no' : appliance.options }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="pdf-section">
                <div class="pdf-section__header">
                    Work order details
                </div>
                <div class="pdf-section__content">
                    <strong>Customer complaint:</strong>
                    <div class="customer-compliant">
                        <p>{{ appliance.customer_complaint }}</p>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="tech-recommendation">
                        <i>Tech recommendation: {{ appliance.tech_recommendation }}</i>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            We are not responsible for water damage, loss of food, or damage to floors, walls and cabinets<br />
            800-567-8602   |   760-260-5003
        </div>
    </div>
</div>