<div class="home home-blue">
    <div class="name"><img src="logo.svg" alt=""></div>
    <div class="text-big">We repair things</div>
    <div class="text-medium">Professional appliance repair services</div>
    <a href="/book" class="button">Book now</a>
</div>
<div class="home home-white">
    <div class="white-container">
        <div class="header">OK, you have a question</div>
        <div class="intro">To check your work order status, modify the appointment date or ask any other question, talk to our reps via chat or submit a request at our
            <a href="/contact">contacts page</a>. </div>
        <div class="line"></div>
    </div>
</div>

<div class="home-footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>