<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href=/>
  <title>A to Z Appliances</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ asset('bower_components/html5-boilerplate/dist/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ asset('bower_components/html5-boilerplate/dist/css/main.css') }}">
  <link rel="stylesheet" href="{{ asset('bower_components/ladda/dist/ladda-themeless.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/app.css') }}">
  <script src="{{ asset('bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    {% if app.request.host == 'a-zappliances.com' %}
  <script>
      window.intercomSettings = {
          app_id: "h43gnmut"
      };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/h43gnmut';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  {% endif %}
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view autoscroll ng-animate="'slide'" class="slide-animate"></div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-ui-mask/dist/mask.min.js"></script>
  <script src="bower_components/ladda/dist/spin.min.js"></script>
  <script src="bower_components/ladda/dist/ladda.min.js"></script>
  <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
  <script src="app.js"></script>
  <script src="components/home/index.js"></script>
  <script src="components/book/book.js"></script>
  <script src="components/thank/thank.js"></script>
  <script src="components/corporate/corporate.js"></script>
  <script src="components/contact/contact.js"></script>
</body>
</html>
