<div class="wrapper">
    <div class="close"><a href="/">&times;</a></div>
    <div class="thank">
        <div class="thank-big">
            <span ng-if="$root.errorCode === 404">Sorry, page not found.</span>
            <span ng-if="$root.errorCode !== 404">Sorry, internal error occurred.</span>
        </div>
    </div>
</div>
<div class="footer">
    2017 &copy; All rights reserved. 800-567-8602.
</div>
